In [1]:
import numpy as np

a = np.arange(8)
b = a[4:6]
b[:] = 40
c = a[4] + a[6]

In [2]:
c

46

In [3]:
import re
s = 'ABCAC'

In [4]:
len(re.search('A', s)) == 2

TypeError: object of type 're.Match' has no len()

In [5]:
len(re.search('A', s)) == 2

TypeError: object of type 're.Match' has no len()

In [6]:
bool(re.match('A', s)) == True

True

In [7]:
re.match('A', s) == True

False

In [8]:
import pandas as pd
s=pd.Series({'d':4,'b':7,'a':3})

In [9]:
s

d    4
b    7
a    3
dtype: int64

In [10]:
s.iloc[0]

4

In [14]:
s['d']

4

In [15]:
s1=pd.Series({'Mango':20,'Strawberry':15,'Blueberry':18,'Vanilla':31})
s2=pd.Series({'Strawberry':20,'Vanilla':30,'Banana':15,'Mango':20,'Plain':20})

In [16]:
s3 = s1.add(s2)

In [17]:
s3['Plain'] >= s3['Mango']

False

In [18]:
s3['Blueberry'] == s1.add(s2, fill_value = 0)['Blueberry']

False

In [19]:
s3['Mango'] >=  s1.add(s2, fill_value = 0)['Mango']

True

In [20]:
S = pd.Series(np.arange(5), index=['a', 'b', 'c', 'd', 'e'])

In [21]:
S['b':'e']

b    1
c    2
d    3
e    4
dtype: int64

In [22]:
S[['b', 'c', 'd']]

b    1
c    2
d    3
dtype: int64

In [23]:
S[S <= 3][S > 0]

b    1
c    2
d    3
dtype: int64

In [24]:
S[1:4]

b    1
c    2
d    3
dtype: int64

In [25]:
df=pd.DataFrame({'a':[5,5,71,67],'b':[6,82,31,37],'c':[20,28,92,49]},index=['R1','R2','R3','R4'])

In [26]:
df

     a   b   c
R1   5   6  20
R2   5  82  28
R3  71  31  92
R4  67  37  49

In [27]:
f = lambda x: x.max() + x.min()
df_new = df.apply(f)

In [28]:
df_new[1]

/tmp/ipykernel_14933/28831346.py:1: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  df_new[1]

88

In [30]:
import numpy as np
df=pd.DataFrame({'Item':['item_1','item_1','item_1','item_2','item_2','item_3'],
                 'Store':['A','B','C','A','B','C'],
                 'Quantity sold': [10,20,np.nan,5,10,15.0]})

In [31]:
df

     Item Store  Quantity sold
0  item_1     A           10.0
1  item_1     B           20.0
2  item_1     C            NaN
3  item_2     A            5.0
4  item_2     B           10.0
5  item_3     C           15.0

In [32]:
df.groupby('Item').sum().iloc[0]['Quantity sold']

30.0