#### Week3 review

In [3]:
import pandas as pd

staff_df=pd.DataFrame([{'Name':'Kelly','Role':'Director of HR'},
                       {'Name': 'Sally','Role':'Course Liasion'},
                       {'Name':'James','Role':'Grader'}])

staff_df=staff_df.set_index('Name')

student_df=pd.DataFrame([{'Name':'James','School':'Business'},
                         {'Name':'Mike','School':'Law'},
                         {'Name': 'Sally', 'School':'Engineering'}])

student_df=student_df.set_index('Name')

print(staff_df.head())
print(student_df.head())

                 Role
Name
Kelly  Director of HR
Sally  Course Liasion
James          Grader
            School
Name
James     Business
Mike           Law
Sally  Engineering

In [4]:
pd.merge(staff_df,student_df, how='outer',left_index=True, right_index=True)

                 Role       School
Name
James          Grader     Business
Kelly  Director of HR          NaN
Mike              NaN          Law
Sally  Course Liasion  Engineering

In [5]:
pd.merge(staff_df,student_df, how='inner',left_index=True, right_index=True)

                 Role       School
Name
Sally  Course Liasion  Engineering
James          Grader     Business

In [6]:
pd.merge(staff_df,student_df, how='left',left_index=True,right_index=True)

                 Role       School
Name
Kelly  Director of HR          NaN
Sally  Course Liasion  Engineering
James          Grader     Business

In [7]:
pd.merge(staff_df,student_df, how='right',left_index=True,right_index=True)

                 Role       School
Name
James          Grader     Business
Mike              NaN          Law
Sally  Course Liasion  Engineering

In [8]:
staff_df=staff_df.reset_index()
student_df=student_df.reset_index()
pd.merge(staff_df,student_df, how='right', on='Name')

    Name            Role       School
0  James          Grader     Business
1   Mike             NaN          Law
2  Sally  Course Liasion  Engineering

In [9]:
staff_df=pd.DataFrame([{'Name':'Kelly','Role':'Director of HR','Location':'State Street'},
                       {'Name': 'Sally','Role':'Course Liasion','Location':'Washington Avenue'},
                       {'Name':'James','Role':'Grader','Location':'Washington Avenue'}])


student_df=pd.DataFrame([{'Name':'James','School':'Business','Location':'1024 billiard Avenue'},
                         {'Name':'Mike','School':'Law', 'Location':'Fraternity House #22'},
                         {'Name': 'Sally', 'School':'Engineering','Location':'512 wilson Crescent'}])

pd.merge(staff_df,student_df, how='left',on='Name')

    Name            Role         Location_x       School            Location_y
0  Kelly  Director of HR       State Street          NaN                   NaN
1  Sally  Course Liasion  Washington Avenue  Engineering   512 wilson Crescent
2  James          Grader  Washington Avenue     Business  1024 billiard Avenue

In [11]:
staff_df=pd.DataFrame([{'First Name':'Kelly','Last Name':'Desjardins','Role':'Director of HR'},
                       {'First Name': 'Sally','Last Name':'Brooks','Role':'Course Liasion'},
                       {'First Name':'James','Last Name':'Wilde','Role':'Grader'}])

student_df=pd.DataFrame([{'First Name':'James','Last Name':'Hammond','School':'Business'},
                         {'First Name':'Mike','Last Name':'Smith','School':'Law'},
                         {'First Name': 'Sally', 'Last Name':'Brooks', 'School':'Engineering'}])

pd.merge(staff_df,student_df,how='inner',on=['First Name','Last Name'])

  First Name Last Name            Role       School
0      Sally    Brooks  Course Liasion  Engineering

In [15]:
%%capture
df_2012=pd.read_csv("datasets/college_scorecard/MERGED2012_13_PP.csv")
df_2013=pd.read_csv("datasets/college_scorecard/MERGED2013_14_PP.csv")

FileNotFoundError: [Errno 2] No such file or directory: 'datasets/college_scorecard/MERGED2012_13_PP.csv'

#### Pandas Idioms

In [1]:
import pandas as pd
import numpy as np
import timeit

df=pd.read_csv('datasets/census.csv')
df.head()

,SUMLEV,REGION,DIVISION,STATE,COUNTY,STNAME,CTYNAME,CENSUS2010POP,ESTIMATESBASE2010,POPESTIMATE2010,...,RDOMESTICMIG2011,RDOMESTICMIG2012,RDOMESTICMIG2013,RDOMESTICMIG2014,RDOMESTICMIG2015,RNETMIG2011,RNETMIG2012,RNETMIG2013,RNETMIG2014,RNETMIG2015
0,40,3,6,1,0,Alabama,Alabama,4779736,4780127,4785161,...,0.002295,-0.193196,0.381066,0.582002,-0.467369,1.030015,0.826644,1.383282,1.724718,0.712594
1,50,3,6,1,1,Alabama,Autauga County,54571,54571,54660,...,7.242091,-2.915927,-3.012349,2.265971,-2.530799,7.606016,-2.626146,-2.722002,2.592270,-2.187333
2,50,3,6,1,3,Alabama,Baldwin County,182265,182265,183193,...,14.832960,17.647293,21.845705,19.243287,17.197872,15.844176,18.559627,22.727626,20.317142,18.293499
3,50,3,6,1,5,Alabama,Barbour County,27457,27457,27341,...,-4.728132,-2.500690,-7.056824,-3.904217,-10.543299,-4.874741,-2.758113,-7.167664,-3.978583,-10.543299
4,50,3,6,1,7,Alabama,Bibb County,22915,22919,22861,...,-5.527043,-5.068871,-6.201001,-0.177537,0.177258,-5.088389,-4.363636,-5.403729,0.754533,1.107861

In [2]:
(df.where(df['SUMLEV']==50)
    .dropna()
    .set_index(['STNAME','CTYNAME'])
    .rename(columns={'ESTIMATESBASE2010':'Estimates Base 2010'}))

                           SUMLEV  REGION  DIVISION  STATE  COUNTY  \
STNAME  CTYNAME
Alabama Autauga County       50.0     3.0       6.0    1.0     1.0
        Baldwin County       50.0     3.0       6.0    1.0     3.0
        Barbour County       50.0     3.0       6.0    1.0     5.0
        Bibb County          50.0     3.0       6.0    1.0     7.0
        Blount County        50.0     3.0       6.0    1.0     9.0
...                           ...     ...       ...    ...     ...
Wyoming Sweetwater County    50.0     4.0       8.0   56.0    37.0
        Teton County         50.0     4.0       8.0   56.0    39.0
        Uinta County         50.0     4.0       8.0   56.0    41.0
        Washakie County      50.0     4.0       8.0   56.0    43.0
        Weston County        50.0     4.0       8.0   56.0    45.0

                           CENSUS2010POP  Estimates Base 2010  \
STNAME  CTYNAME
Alabama Autauga County           54571.0              54571.0
        Baldwin County          182265.0             182265.0
        Barbour County           27457.0              27457.0
        Bibb County              22915.0              22919.0
        Blount County            57322.0              57322.0
...                                  ...                  ...
Wyoming Sweetwater County        43806.0              43806.0
        Teton County             21294.0              21294.0
        Uinta County             21118.0              21118.0
        Washakie County           8533.0               8533.0
        Weston County             7208.0               7208.0

                           POPESTIMATE2010  POPESTIMATE2011  POPESTIMATE2012  \
STNAME  CTYNAME
Alabama Autauga County             54660.0          55253.0          55175.0
        Baldwin County            183193.0         186659.0         190396.0
        Barbour County             27341.0          27226.0          27159.0
        Bibb County                22861.0          22733.0          22642.0
        Blount County              57373.0          57711.0          57776.0
...                                    ...              ...              ...
Wyoming Sweetwater County          43593.0          44041.0          45104.0
        Teton County               21297.0          21482.0          21697.0
        Uinta County               21102.0          20912.0          20989.0
        Washakie County             8545.0           8469.0           8443.0
        Weston County               7181.0           7114.0           7065.0

                           ...  RDOMESTICMIG2011  RDOMESTICMIG2012  \
STNAME  CTYNAME            ...
Alabama Autauga County     ...          7.242091         -2.915927
        Baldwin County     ...         14.832960         17.647293
        Barbour County     ...         -4.728132         -2.500690
        Bibb County        ...         -5.527043         -5.068871
        Blount County      ...          1.807375         -1.177622
...                        ...               ...               ...
Wyoming Sweetwater County  ...          1.072643         16.243199
        Teton County       ...         -1.589565          0.972695
        Uinta County       ...        -17.755986         -4.916350
        Washakie County    ...        -11.637475         -0.827815
        Weston County      ...        -11.752361         -8.040059

                           RDOMESTICMIG2013  RDOMESTICMIG2014  \
STNAME  CTYNAME
Alabama Autauga County            -3.012349          2.265971
        Baldwin County            21.845705         19.243287
        Barbour County            -7.056824         -3.904217
        Bibb County               -6.201001         -0.177537
        Blount County             -1.748766         -2.062535
...                                     ...               ...
Wyoming Sweetwater County         -5.339774        -14.252889
        Teton County              19.525929         14.143021
        Uinta County              -6.902954        -14.215862
        Washakie County           -2.013502        -17.781491
        Weston County             12.372583          1.533635

                           RDOMESTICMIG2015  RNETMIG2011  RNETMIG2012  \
STNAME  CTYNAME
Alabama Autauga County            -2.530799     7.606016    -2.626146
        Baldwin County            17.197872    15.844176    18.559627
        Barbour County           -10.543299    -4.874741    -2.758113
        Bibb County                0.177258    -5.088389    -4.363636
        Blount County             -1.369970     1.859511    -0.848580
...                                     ...          ...          ...
Wyoming Sweetwater County        -14.248864     1.255221    16.243199
        Teton County              -0.564849     0.654527     2.408578
        Uinta County             -12.127022   -18.136812    -5.536861
        Washakie County            1.682288   -11.990126    -1.182592
        Weston County              6.935294   -12.032179    -8.040059

                           RNETMIG2013  RNETMIG2014  RNETMIG2015
STNAME  CTYNAME
Alabama Autauga County       -2.722002     2.592270    -2.187333
        Baldwin County       22.727626    20.317142    18.293499
        Barbour County       -7.167664    -3.978583   -10.543299
        Bibb County          -5.403729     0.754533     1.107861
        Blount County        -1.402476    -1.577232    -0.884411
...                                ...          ...          ...
Wyoming Sweetwater County    -5.295460   -14.075283   -14.070195
        Teton County         21.160658    16.308671     1.520747
        Uinta County         -7.521840   -14.740608   -12.606351
        Washakie County      -2.250385   -18.020168     1.441961
        Weston County        12.372583     1.533635     6.935294

[3142 rows x 98 columns]

In [3]:
df=df[df['SUMLEV']==50]
df.set_index(['STNAME','CTYNAME'],inplace=True)
df.rename(columns={'ESTIMATESBASE2010': 'Estimates Base 2010'})

                           SUMLEV  REGION  DIVISION  STATE  COUNTY  \
STNAME  CTYNAME
Alabama Autauga County         50       3         6      1       1
        Baldwin County         50       3         6      1       3
        Barbour County         50       3         6      1       5
        Bibb County            50       3         6      1       7
        Blount County          50       3         6      1       9
...                           ...     ...       ...    ...     ...
Wyoming Sweetwater County      50       4         8     56      37
        Teton County           50       4         8     56      39
        Uinta County           50       4         8     56      41
        Washakie County        50       4         8     56      43
        Weston County          50       4         8     56      45

                           CENSUS2010POP  Estimates Base 2010  \
STNAME  CTYNAME
Alabama Autauga County             54571                54571
        Baldwin County            182265               182265
        Barbour County             27457                27457
        Bibb County                22915                22919
        Blount County              57322                57322
...                                  ...                  ...
Wyoming Sweetwater County          43806                43806
        Teton County               21294                21294
        Uinta County               21118                21118
        Washakie County             8533                 8533
        Weston County               7208                 7208

                           POPESTIMATE2010  POPESTIMATE2011  POPESTIMATE2012  \
STNAME  CTYNAME
Alabama Autauga County               54660            55253            55175
        Baldwin County              183193           186659           190396
        Barbour County               27341            27226            27159
        Bibb County                  22861            22733            22642
        Blount County                57373            57711            57776
...                                    ...              ...              ...
Wyoming Sweetwater County            43593            44041            45104
        Teton County                 21297            21482            21697
        Uinta County                 21102            20912            20989
        Washakie County               8545             8469             8443
        Weston County                 7181             7114             7065

                           ...  RDOMESTICMIG2011  RDOMESTICMIG2012  \
STNAME  CTYNAME            ...
Alabama Autauga County     ...          7.242091         -2.915927
        Baldwin County     ...         14.832960         17.647293
        Barbour County     ...         -4.728132         -2.500690
        Bibb County        ...         -5.527043         -5.068871
        Blount County      ...          1.807375         -1.177622
...                        ...               ...               ...
Wyoming Sweetwater County  ...          1.072643         16.243199
        Teton County       ...         -1.589565          0.972695
        Uinta County       ...        -17.755986         -4.916350
        Washakie County    ...        -11.637475         -0.827815
        Weston County      ...        -11.752361         -8.040059

                           RDOMESTICMIG2013  RDOMESTICMIG2014  \
STNAME  CTYNAME
Alabama Autauga County            -3.012349          2.265971
        Baldwin County            21.845705         19.243287
        Barbour County            -7.056824         -3.904217
        Bibb County               -6.201001         -0.177537
        Blount County             -1.748766         -2.062535
...                                     ...               ...
Wyoming Sweetwater County         -5.339774        -14.252889
        Teton County              19.525929         14.143021
        Uinta County              -6.902954        -14.215862
        Washakie County           -2.013502        -17.781491
        Weston County             12.372583          1.533635

                           RDOMESTICMIG2015  RNETMIG2011  RNETMIG2012  \
STNAME  CTYNAME
Alabama Autauga County            -2.530799     7.606016    -2.626146
        Baldwin County            17.197872    15.844176    18.559627
        Barbour County           -10.543299    -4.874741    -2.758113
        Bibb County                0.177258    -5.088389    -4.363636
        Blount County             -1.369970     1.859511    -0.848580
...                                     ...          ...          ...
Wyoming Sweetwater County        -14.248864     1.255221    16.243199
        Teton County              -0.564849     0.654527     2.408578
        Uinta County             -12.127022   -18.136812    -5.536861
        Washakie County            1.682288   -11.990126    -1.182592
        Weston County              6.935294   -12.032179    -8.040059

                           RNETMIG2013  RNETMIG2014  RNETMIG2015
STNAME  CTYNAME
Alabama Autauga County       -2.722002     2.592270    -2.187333
        Baldwin County       22.727626    20.317142    18.293499
        Barbour County       -7.167664    -3.978583   -10.543299
        Bibb County          -5.403729     0.754533     1.107861
        Blount County        -1.402476    -1.577232    -0.884411
...                                ...          ...          ...
Wyoming Sweetwater County    -5.295460   -14.075283   -14.070195
        Teton County         21.160658    16.308671     1.520747
        Uinta County         -7.521840   -14.740608   -12.606351
        Washakie County      -2.250385   -18.020168     1.441961
        Weston County        12.372583     1.533635     6.935294

[3142 rows x 98 columns]

In [4]:
def first_approach():
    global df
    return(df.where(df['SUMLEV']==50)
    .dropna()
    .set_index(['STNAME','CTYNAME'])
    .rename(columns={'ESTIMATESBASE2010':'Estimates Base 2010'}))

df=pd.read_csv('datasets/census.csv')

timeit.timeit(first_approach,number=10)

0.1744808200000989

In [5]:
def second_approach():
    global df
    new_df=df[df['SUMLEV']==50]
    new_df.set_index(['STNAME','CTYNAME'],inplace=True)
    return new_df.rename(columns={'ESTIMATESBASE2010': 'Estimates Base 2010'})

df=pd.read_csv('datasets/census.csv')

timeit.timeit(second_approach,number=10)

0.037445949999892036

In [6]:
def min_max(row):
    data=row[['POPESTIMATE2010',
              'POPESTIMATE2011',
              'POPESTIMATE2012',
              'POPESTIMATE2013',
              'POPESTIMATE2014',
              'POPESTIMATE2015']]
    return pd.Series({'min':np.min(data),'max':np.max(data)})

In [7]:
df.apply(min_max, axis='columns').head()

       min      max
0  4785161  4858979
1    54660    55347
2   183193   203709
3    26489    27341
4    22512    22861

In [8]:
def min_max(row):
    data=row[['POPESTIMATE2010',
              'POPESTIMATE2011',
              'POPESTIMATE2012',
              'POPESTIMATE2013',
              'POPESTIMATE2014',
              'POPESTIMATE2015']]
    row['max']=np.max(data)
    row['min']=np.min(data)
    return row
df.apply(min_max,axis='columns')

,SUMLEV,REGION,DIVISION,STATE,COUNTY,STNAME,CTYNAME,CENSUS2010POP,ESTIMATESBASE2010,POPESTIMATE2010,...,RDOMESTICMIG2013,RDOMESTICMIG2014,RDOMESTICMIG2015,RNETMIG2011,RNETMIG2012,RNETMIG2013,RNETMIG2014,RNETMIG2015,max,min
0,40,3,6,1,0,Alabama,Alabama,4779736,4780127,4785161,...,0.381066,0.582002,-0.467369,1.030015,0.826644,1.383282,1.724718,0.712594,4858979,4785161
1,50,3,6,1,1,Alabama,Autauga County,54571,54571,54660,...,-3.012349,2.265971,-2.530799,7.606016,-2.626146,-2.722002,2.592270,-2.187333,55347,54660
2,50,3,6,1,3,Alabama,Baldwin County,182265,182265,183193,...,21.845705,19.243287,17.197872,15.844176,18.559627,22.727626,20.317142,18.293499,203709,183193
3,50,3,6,1,5,Alabama,Barbour County,27457,27457,27341,...,-7.056824,-3.904217,-10.543299,-4.874741,-2.758113,-7.167664,-3.978583,-10.543299,27341,26489
4,50,3,6,1,7,Alabama,Bibb County,22915,22919,22861,...,-6.201001,-0.177537,0.177258,-5.088389,-4.363636,-5.403729,0.754533,1.107861,22861,22512
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3188,50,4,8,56,37,Wyoming,Sweetwater County,43806,43806,43593,...,-5.339774,-14.252889,-14.248864,1.255221,16.243199,-5.295460,-14.075283,-14.070195,45162,43593
3189,50,4,8,56,39,Wyoming,Teton County,21294,21294,21297,...,19.525929,14.143021,-0.564849,0.654527,2.408578,21.160658,16.308671,1.520747,23125,21297
3190,50,4,8,56,41,Wyoming,Uinta County,21118,21118,21102,...,-6.902954,-14.215862,-12.127022,-18.136812,-5.536861,-7.521840,-14.740608,-12.606351,21102,20822
3191,50,4,8,56,43,Wyoming,Washakie County,8533,8533,8545,...,-2.013502,-17.781491,1.682288,-11.990126,-1.182592,-2.250385,-18.020168,1.441961,8545,8316
3192,50,4,8,56,45,Wyoming,Weston County,7208,7208,7181,...,12.372583,1.533635,6.935294,-12.032179,-8.040059,12.372583,1.533635,6.935294,7234,7065

In [9]:
rows=['POPESTIMATE2010', 'POPESTIMATE2011', 'POPESTIMATE2012','POPESTIMATE2013','POPESTIMATE2014','POPESTIMATE2015']
df.apply(lambda x:np.max(x[rows]),axis=1).head()

0    4858979
1      55347
2     203709
3      27341
4      22861
dtype: int64

In [10]:
def get_state_region(x):
    northeast=['Connecticut','Maine','Massachusetts','New Hampshire',
               'Rhode Island','Vermont','New York','New Jersey','Pennsylvania']
    midwest=['Illinois','Indiana','Michigan','Ohio','Wisconsin','Iowa','Kansas','Minnesota','Missouri',
             'Nebraska','North Dakota','South Dakota']
    south=['Delaware','Florida','Georgia','Maryland','North Carolina','South Carolina','Virginia',
           'District of Columbia','West Virginia','Alabama','Kentucky','Mississippi','Tennessee','Arkansas',
           'Louisiana','Oklahoma','Texas']
    west=['Arizona','Colorado','Idaho','Montana','Nevada','New Mexico','Utah','Wyoming','Alaska','California',
          'Hawaii','Oregon','Washington']
    
    if x in northeast:
        return "Northeast"
    elif x in midwest:
        return "Midwest"
    elif x in south:
        return "South"
    else:
        return "West"

In [11]:
df['state_region']=df['STNAME'].apply(lambda x: get_state_region(x))

In [12]:
df[['STNAME','state_region']].head()

    STNAME state_region
0  Alabama        South
1  Alabama        South
2  Alabama        South
3  Alabama        South
4  Alabama        South

#### Group by

In [7]:
import pandas as pd
import numpy as np

df=pd.read_csv('datasets/census.csv')
df=df[df['SUMLEV']==50]
df.head()

,SUMLEV,REGION,DIVISION,STATE,COUNTY,STNAME,CTYNAME,CENSUS2010POP,ESTIMATESBASE2010,POPESTIMATE2010,...,RDOMESTICMIG2011,RDOMESTICMIG2012,RDOMESTICMIG2013,RDOMESTICMIG2014,RDOMESTICMIG2015,RNETMIG2011,RNETMIG2012,RNETMIG2013,RNETMIG2014,RNETMIG2015
1,50,3,6,1,1,Alabama,Autauga County,54571,54571,54660,...,7.242091,-2.915927,-3.012349,2.265971,-2.530799,7.606016,-2.626146,-2.722002,2.592270,-2.187333
2,50,3,6,1,3,Alabama,Baldwin County,182265,182265,183193,...,14.832960,17.647293,21.845705,19.243287,17.197872,15.844176,18.559627,22.727626,20.317142,18.293499
3,50,3,6,1,5,Alabama,Barbour County,27457,27457,27341,...,-4.728132,-2.500690,-7.056824,-3.904217,-10.543299,-4.874741,-2.758113,-7.167664,-3.978583,-10.543299
4,50,3,6,1,7,Alabama,Bibb County,22915,22919,22861,...,-5.527043,-5.068871,-6.201001,-0.177537,0.177258,-5.088389,-4.363636,-5.403729,0.754533,1.107861
5,50,3,6,1,9,Alabama,Blount County,57322,57322,57373,...,1.807375,-1.177622,-1.748766,-2.062535,-1.369970,1.859511,-0.848580,-1.402476,-1.577232,-0.884411

In [15]:
%%timeit -n 3

for state in df['STNAME'].unique():
    avg=np.average(df.where(df['STNAME']==state).dropna()['CENSUS2010POP'])
    print('Counties in state' + state + ' have an average population of ' + str(avg))

Counties in stateAlabama have an average population of 71339.34328358209
Counties in stateAlaska have an average population of 24490.724137931036
Counties in stateArizona have an average population of 426134.4666666667
Counties in stateArkansas have an average population of 38878.90666666667
Counties in stateCalifornia have an average population of 642309.5862068966
Counties in stateColorado have an average population of 78581.1875
Counties in stateConnecticut have an average population of 446762.125
Counties in stateDelaware have an average population of 299311.3333333333
Counties in stateDistrict of Columbia have an average population of 601723.0
Counties in stateFlorida have an average population of 280616.5671641791
Counties in stateGeorgia have an average population of 60928.63522012578
Counties in stateHawaii have an average population of 272060.2
Counties in stateIdaho have an average population of 35626.86363636364
Counties in stateIllinois have an average population of 125790.50980392157
Counties in stateIndiana have an average population of 70476.10869565218
Counties in stateIowa have an average population of 30771.262626262625
Counties in stateKansas have an average population of 27172.55238095238
Counties in stateKentucky have an average population of 36161.39166666667
Counties in stateLouisiana have an average population of 70833.9375
Counties in stateMaine have an average population of 83022.5625
Counties in stateMaryland have an average population of 240564.66666666666
Counties in stateMassachusetts have an average population of 467687.78571428574
Counties in stateMichigan have an average population of 119080.0
Counties in stateMinnesota have an average population of 60964.65517241379
Counties in stateMississippi have an average population of 36186.54878048781
Counties in stateMissouri have an average population of 52077.62608695652
Counties in stateMontana have an average population of 17668.125
Counties in stateNebraska have an average population of 19638.075268817203
Counties in stateNevada have an average population of 158855.9411764706
Counties in stateNew Hampshire have an average population of 131647.0
Counties in stateNew Jersey have an average population of 418661.61904761905
Counties in stateNew Mexico have an average population of 62399.36363636364
Counties in stateNew York have an average population of 312550.03225806454
Counties in stateNorth Carolina have an average population of 95354.83
Counties in stateNorth Dakota have an average population of 12690.396226415094
Counties in stateOhio have an average population of 131096.63636363635
Counties in stateOklahoma have an average population of 48718.844155844155
Counties in stateOregon have an average population of 106418.72222222222
Counties in statePennsylvania have an average population of 189587.74626865672
Counties in stateRhode Island have an average population of 210513.4
Counties in stateSouth Carolina have an average population of 100551.39130434782
Counties in stateSouth Dakota have an average population of 12336.060606060606
Counties in stateTennessee have an average population of 66801.1052631579
Counties in stateTexas have an average population of 98998.27165354331
Counties in stateUtah have an average population of 95306.37931034483
Counties in stateVermont have an average population of 44695.78571428572
Counties in stateVirginia have an average population of 60111.29323308271
Counties in stateWashington have an average population of 172424.10256410256
Counties in stateWest Virginia have an average population of 33690.8
Counties in stateWisconsin have an average population of 78985.91666666667
Counties in stateWyoming have an average population of 24505.478260869564
Counties in stateAlabama have an average population of 71339.34328358209
Counties in stateAlaska have an average population of 24490.724137931036
Counties in stateArizona have an average population of 426134.4666666667
Counties in stateArkansas have an average population of 38878.90666666667
Counties in stateCalifornia have an average population of 642309.5862068966
Counties in stateColorado have an average population of 78581.1875
Counties in stateConnecticut have an average population of 446762.125
Counties in stateDelaware have an average population of 299311.3333333333
Counties in stateDistrict of Columbia have an average population of 601723.0
Counties in stateFlorida have an average population of 280616.5671641791
Counties in stateGeorgia have an average population of 60928.63522012578
Counties in stateHawaii have an average population of 272060.2
Counties in stateIdaho have an average population of 35626.86363636364
Counties in stateIllinois have an average population of 125790.50980392157
Counties in stateIndiana have an average population of 70476.10869565218
Counties in stateIowa have an average population of 30771.262626262625
Counties in stateKansas have an average population of 27172.55238095238
Counties in stateKentucky have an average population of 36161.39166666667
Counties in stateLouisiana have an average population of 70833.9375
Counties in stateMaine have an average population of 83022.5625
Counties in stateMaryland have an average population of 240564.66666666666
Counties in stateMassachusetts have an average population of 467687.78571428574
Counties in stateMichigan have an average population of 119080.0
Counties in stateMinnesota have an average population of 60964.65517241379
Counties in stateMississippi have an average population of 36186.54878048781
Counties in stateMissouri have an average population of 52077.62608695652
Counties in stateMontana have an average population of 17668.125
Counties in stateNebraska have an average population of 19638.075268817203
Counties in stateNevada have an average population of 158855.9411764706
Counties in stateNew Hampshire have an average population of 131647.0
Counties in stateNew Jersey have an average population of 418661.61904761905
Counties in stateNew Mexico have an average population of 62399.36363636364
Counties in stateNew York have an average population of 312550.03225806454
Counties in stateNorth Carolina have an average population of 95354.83
Counties in stateNorth Dakota have an average population of 12690.396226415094
Counties in stateOhio have an average population of 131096.63636363635
Counties in stateOklahoma have an average population of 48718.844155844155
Counties in stateOregon have an average population of 106418.72222222222
Counties in statePennsylvania have an average population of 189587.74626865672
Counties in stateRhode Island have an average population of 210513.4
Counties in stateSouth Carolina have an average population of 100551.39130434782
Counties in stateSouth Dakota have an average population of 12336.060606060606
Counties in stateTennessee have an average population of 66801.1052631579
Counties in stateTexas have an average population of 98998.27165354331
Counties in stateUtah have an average population of 95306.37931034483
Counties in stateVermont have an average population of 44695.78571428572
Counties in stateVirginia have an average population of 60111.29323308271
Counties in stateWashington have an average population of 172424.10256410256
Counties in stateWest Virginia have an average population of 33690.8
Counties in stateWisconsin have an average population of 78985.91666666667
Counties in stateWyoming have an average population of 24505.478260869564
Counties in stateAlabama have an average population of 71339.34328358209
Counties in stateAlaska have an average population of 24490.724137931036
Counties in stateArizona have an average population of 426134.4666666667
Counties in stateArkansas have an average population of 38878.90666666667
Counties in stateCalifornia have an average population of 642309.5862068966
Counties in stateColorado have an average population of 78581.1875
Counties in stateConnecticut have an average population of 446762.125
Counties in stateDelaware have an average population of 299311.3333333333
Counties in stateDistrict of Columbia have an average population of 601723.0
Counties in stateFlorida have an average population of 280616.5671641791
Counties in stateGeorgia have an average population of 60928.63522012578
Counties in stateHawaii have an average population of 272060.2
Counties in stateIdaho have an average population of 35626.86363636364
Counties in stateIllinois have an average population of 125790.50980392157
Counties in stateIndiana have an average population of 70476.10869565218
Counties in stateIowa have an average population of 30771.262626262625
Counties in stateKansas have an average population of 27172.55238095238
Counties in stateKentucky have an average population of 36161.39166666667
Counties in stateLouisiana have an average population of 70833.9375
Counties in stateMaine have an average population of 83022.5625
Counties in stateMaryland have an average population of 240564.66666666666
Counties in stateMassachusetts have an average population of 467687.78571428574
Counties in stateMichigan have an average population of 119080.0
Counties in stateMinnesota have an average population of 60964.65517241379
Counties in stateMississippi have an average population of 36186.54878048781
Counties in stateMissouri have an average population of 52077.62608695652
Counties in stateMontana have an average population of 17668.125
Counties in stateNebraska have an average population of 19638.075268817203
Counties in stateNevada have an average population of 158855.9411764706
Counties in stateNew Hampshire have an average population of 131647.0
Counties in stateNew Jersey have an average population of 418661.61904761905
Counties in stateNew Mexico have an average population of 62399.36363636364
Counties in stateNew York have an average population of 312550.03225806454
Counties in stateNorth Carolina have an average population of 95354.83
Counties in stateNorth Dakota have an average population of 12690.396226415094
Counties in stateOhio have an average population of 131096.63636363635
Counties in stateOklahoma have an average population of 48718.844155844155
Counties in stateOregon have an average population of 106418.72222222222
Counties in statePennsylvania have an average population of 189587.74626865672
Counties in stateRhode Island have an average population of 210513.4
Counties in stateSouth Carolina have an average population of 100551.39130434782
Counties in stateSouth Dakota have an average population of 12336.060606060606
Counties in stateTennessee have an average population of 66801.1052631579
Counties in stateTexas have an average population of 98998.27165354331
Counties in stateUtah have an average population of 95306.37931034483
Counties in stateVermont have an average population of 44695.78571428572
Counties in stateVirginia have an average population of 60111.29323308271
Counties in stateWashington have an average population of 172424.10256410256
Counties in stateWest Virginia have an average population of 33690.8
Counties in stateWisconsin have an average population of 78985.91666666667
Counties in stateWyoming have an average population of 24505.478260869564
Counties in stateAlabama have an average population of 71339.34328358209
Counties in stateAlaska have an average population of 24490.724137931036
Counties in stateArizona have an average population of 426134.4666666667
Counties in stateArkansas have an average population of 38878.90666666667
Counties in stateCalifornia have an average population of 642309.5862068966
Counties in stateColorado have an average population of 78581.1875
Counties in stateConnecticut have an average population of 446762.125
Counties in stateDelaware have an average population of 299311.3333333333
Counties in stateDistrict of Columbia have an average population of 601723.0
Counties in stateFlorida have an average population of 280616.5671641791
Counties in stateGeorgia have an average population of 60928.63522012578
Counties in stateHawaii have an average population of 272060.2
Counties in stateIdaho have an average population of 35626.86363636364
Counties in stateIllinois have an average population of 125790.50980392157
Counties in stateIndiana have an average population of 70476.10869565218
Counties in stateIowa have an average population of 30771.262626262625
Counties in stateKansas have an average population of 27172.55238095238
Counties in stateKentucky have an average population of 36161.39166666667
Counties in stateLouisiana have an average population of 70833.9375
Counties in stateMaine have an average population of 83022.5625
Counties in stateMaryland have an average population of 240564.66666666666
Counties in stateMassachusetts have an average population of 467687.78571428574
Counties in stateMichigan have an average population of 119080.0
Counties in stateMinnesota have an average population of 60964.65517241379
Counties in stateMississippi have an average population of 36186.54878048781
Counties in stateMissouri have an average population of 52077.62608695652
Counties in stateMontana have an average population of 17668.125
Counties in stateNebraska have an average population of 19638.075268817203
Counties in stateNevada have an average population of 158855.9411764706
Counties in stateNew Hampshire have an average population of 131647.0
Counties in stateNew Jersey have an average population of 418661.61904761905
Counties in stateNew Mexico have an average population of 62399.36363636364
Counties in stateNew York have an average population of 312550.03225806454
Counties in stateNorth Carolina have an average population of 95354.83
Counties in stateNorth Dakota have an average population of 12690.396226415094
Counties in stateOhio have an average population of 131096.63636363635
Counties in stateOklahoma have an average population of 48718.844155844155
Counties in stateOregon have an average population of 106418.72222222222
Counties in statePennsylvania have an average population of 189587.74626865672
Counties in stateRhode Island have an average population of 210513.4
Counties in stateSouth Carolina have an average population of 100551.39130434782
Counties in stateSouth Dakota have an average population of 12336.060606060606
Counties in stateTennessee have an average population of 66801.1052631579
Counties in stateTexas have an average population of 98998.27165354331
Counties in stateUtah have an average population of 95306.37931034483
Counties in stateVermont have an average population of 44695.78571428572
Counties in stateVirginia have an average population of 60111.29323308271
Counties in stateWashington have an average population of 172424.10256410256
Counties in stateWest Virginia have an average population of 33690.8
Counties in stateWisconsin have an average population of 78985.91666666667
Counties in stateWyoming have an average population of 24505.478260869564
Counties in stateAlabama have an average population of 71339.34328358209
Counties in stateAlaska have an average population of 24490.724137931036
Counties in stateArizona have an average population of 426134.4666666667
Counties in stateArkansas have an average population of 38878.90666666667
Counties in stateCalifornia have an average population of 642309.5862068966
Counties in stateColorado have an average population of 78581.1875
Counties in stateConnecticut have an average population of 446762.125
Counties in stateDelaware have an average population of 299311.3333333333
Counties in stateDistrict of Columbia have an average population of 601723.0
Counties in stateFlorida have an average population of 280616.5671641791
Counties in stateGeorgia have an average population of 60928.63522012578
Counties in stateHawaii have an average population of 272060.2
Counties in stateIdaho have an average population of 35626.86363636364
Counties in stateIllinois have an average population of 125790.50980392157
Counties in stateIndiana have an average population of 70476.10869565218
Counties in stateIowa have an average population of 30771.262626262625
Counties in stateKansas have an average population of 27172.55238095238
Counties in stateKentucky have an average population of 36161.39166666667
Counties in stateLouisiana have an average population of 70833.9375
Counties in stateMaine have an average population of 83022.5625
Counties in stateMaryland have an average population of 240564.66666666666
Counties in stateMassachusetts have an average population of 467687.78571428574
Counties in stateMichigan have an average population of 119080.0
Counties in stateMinnesota have an average population of 60964.65517241379
Counties in stateMississippi have an average population of 36186.54878048781
Counties in stateMissouri have an average population of 52077.62608695652
Counties in stateMontana have an average population of 17668.125
Counties in stateNebraska have an average population of 19638.075268817203
Counties in stateNevada have an average population of 158855.9411764706
Counties in stateNew Hampshire have an average population of 131647.0
Counties in stateNew Jersey have an average population of 418661.61904761905
Counties in stateNew Mexico have an average population of 62399.36363636364
Counties in stateNew York have an average population of 312550.03225806454
Counties in stateNorth Carolina have an average population of 95354.83
Counties in stateNorth Dakota have an average population of 12690.396226415094
Counties in stateOhio have an average population of 131096.63636363635
Counties in stateOklahoma have an average population of 48718.844155844155
Counties in stateOregon have an average population of 106418.72222222222
Counties in statePennsylvania have an average population of 189587.74626865672
Counties in stateRhode Island have an average population of 210513.4
Counties in stateSouth Carolina have an average population of 100551.39130434782
Counties in stateSouth Dakota have an average population of 12336.060606060606
Counties in stateTennessee have an average population of 66801.1052631579
Counties in stateTexas have an average population of 98998.27165354331
Counties in stateUtah have an average population of 95306.37931034483
Counties in stateVermont have an average population of 44695.78571428572
Counties in stateVirginia have an average population of 60111.29323308271
Counties in stateWashington have an average population of 172424.10256410256
Counties in stateWest Virginia have an average population of 33690.8
Counties in stateWisconsin have an average population of 78985.91666666667
Counties in stateWyoming have an average population of 24505.478260869564
Counties in stateAlabama have an average population of 71339.34328358209
Counties in stateAlaska have an average population of 24490.724137931036
Counties in stateArizona have an average population of 426134.4666666667
Counties in stateArkansas have an average population of 38878.90666666667
Counties in stateCalifornia have an average population of 642309.5862068966
Counties in stateColorado have an average population of 78581.1875
Counties in stateConnecticut have an average population of 446762.125
Counties in stateDelaware have an average population of 299311.3333333333
Counties in stateDistrict of Columbia have an average population of 601723.0
Counties in stateFlorida have an average population of 280616.5671641791
Counties in stateGeorgia have an average population of 60928.63522012578
Counties in stateHawaii have an average population of 272060.2
Counties in stateIdaho have an average population of 35626.86363636364
Counties in stateIllinois have an average population of 125790.50980392157
Counties in stateIndiana have an average population of 70476.10869565218
Counties in stateIowa have an average population of 30771.262626262625
Counties in stateKansas have an average population of 27172.55238095238
Counties in stateKentucky have an average population of 36161.39166666667
Counties in stateLouisiana have an average population of 70833.9375

In [16]:
%%timeit -n 3

for group, frame in df.groupby('STNAME'):
    avg=np.average(frame['CENSUS2010POP'])
    print('Counties in state ' + group + ' have an average population of '+str(avg))

Counties in state Alabama have an average population of 71339.34328358209
Counties in state Alaska have an average population of 24490.724137931036
Counties in state Arizona have an average population of 426134.4666666667
Counties in state Arkansas have an average population of 38878.90666666667
Counties in state California have an average population of 642309.5862068966
Counties in state Colorado have an average population of 78581.1875
Counties in state Connecticut have an average population of 446762.125
Counties in state Delaware have an average population of 299311.3333333333
Counties in state District of Columbia have an average population of 601723.0
Counties in state Florida have an average population of 280616.5671641791
Counties in state Georgia have an average population of 60928.63522012578
Counties in state Hawaii have an average population of 272060.2
Counties in state Idaho have an average population of 35626.86363636364
Counties in state Illinois have an average population of 125790.50980392157
Counties in state Indiana have an average population of 70476.10869565218
Counties in state Iowa have an average population of 30771.262626262625
Counties in state Kansas have an average population of 27172.55238095238
Counties in state Kentucky have an average population of 36161.39166666667
Counties in state Louisiana have an average population of 70833.9375
Counties in state Maine have an average population of 83022.5625
Counties in state Maryland have an average population of 240564.66666666666
Counties in state Massachusetts have an average population of 467687.78571428574
Counties in state Michigan have an average population of 119080.0
Counties in state Minnesota have an average population of 60964.65517241379
Counties in state Mississippi have an average population of 36186.54878048781
Counties in state Missouri have an average population of 52077.62608695652
Counties in state Montana have an average population of 17668.125
Counties in state Nebraska have an average population of 19638.075268817203
Counties in state Nevada have an average population of 158855.9411764706
Counties in state New Hampshire have an average population of 131647.0
Counties in state New Jersey have an average population of 418661.61904761905
Counties in state New Mexico have an average population of 62399.36363636364
Counties in state New York have an average population of 312550.03225806454
Counties in state North Carolina have an average population of 95354.83
Counties in state North Dakota have an average population of 12690.396226415094
Counties in state Ohio have an average population of 131096.63636363635
Counties in state Oklahoma have an average population of 48718.844155844155
Counties in state Oregon have an average population of 106418.72222222222
Counties in state Pennsylvania have an average population of 189587.74626865672
Counties in state Rhode Island have an average population of 210513.4
Counties in state South Carolina have an average population of 100551.39130434782
Counties in state South Dakota have an average population of 12336.060606060606
Counties in state Tennessee have an average population of 66801.1052631579
Counties in state Texas have an average population of 98998.27165354331
Counties in state Utah have an average population of 95306.37931034483
Counties in state Vermont have an average population of 44695.78571428572
Counties in state Virginia have an average population of 60111.29323308271
Counties in state Washington have an average population of 172424.10256410256
Counties in state West Virginia have an average population of 33690.8
Counties in state Wisconsin have an average population of 78985.91666666667
Counties in state Wyoming have an average population of 24505.478260869564
Counties in state Alabama have an average population of 71339.34328358209
Counties in state Alaska have an average population of 24490.724137931036
Counties in state Arizona have an average population of 426134.4666666667
Counties in state Arkansas have an average population of 38878.90666666667
Counties in state California have an average population of 642309.5862068966
Counties in state Colorado have an average population of 78581.1875
Counties in state Connecticut have an average population of 446762.125
Counties in state Delaware have an average population of 299311.3333333333
Counties in state District of Columbia have an average population of 601723.0
Counties in state Florida have an average population of 280616.5671641791
Counties in state Georgia have an average population of 60928.63522012578
Counties in state Hawaii have an average population of 272060.2
Counties in state Idaho have an average population of 35626.86363636364
Counties in state Illinois have an average population of 125790.50980392157
Counties in state Indiana have an average population of 70476.10869565218
Counties in state Iowa have an average population of 30771.262626262625
Counties in state Kansas have an average population of 27172.55238095238
Counties in state Kentucky have an average population of 36161.39166666667
Counties in state Louisiana have an average population of 70833.9375
Counties in state Maine have an average population of 83022.5625
Counties in state Maryland have an average population of 240564.66666666666
Counties in state Massachusetts have an average population of 467687.78571428574
Counties in state Michigan have an average population of 119080.0
Counties in state Minnesota have an average population of 60964.65517241379
Counties in state Mississippi have an average population of 36186.54878048781
Counties in state Missouri have an average population of 52077.62608695652
Counties in state Montana have an average population of 17668.125
Counties in state Nebraska have an average population of 19638.075268817203
Counties in state Nevada have an average population of 158855.9411764706
Counties in state New Hampshire have an average population of 131647.0
Counties in state New Jersey have an average population of 418661.61904761905
Counties in state New Mexico have an average population of 62399.36363636364
Counties in state New York have an average population of 312550.03225806454
Counties in state North Carolina have an average population of 95354.83
Counties in state North Dakota have an average population of 12690.396226415094
Counties in state Ohio have an average population of 131096.63636363635
Counties in state Oklahoma have an average population of 48718.844155844155
Counties in state Oregon have an average population of 106418.72222222222
Counties in state Pennsylvania have an average population of 189587.74626865672
Counties in state Rhode Island have an average population of 210513.4
Counties in state South Carolina have an average population of 100551.39130434782
Counties in state South Dakota have an average population of 12336.060606060606
Counties in state Tennessee have an average population of 66801.1052631579
Counties in state Texas have an average population of 98998.27165354331
Counties in state Utah have an average population of 95306.37931034483
Counties in state Vermont have an average population of 44695.78571428572
Counties in state Virginia have an average population of 60111.29323308271
Counties in state Washington have an average population of 172424.10256410256
Counties in state West Virginia have an average population of 33690.8
Counties in state Wisconsin have an average population of 78985.91666666667
Counties in state Wyoming have an average population of 24505.478260869564
Counties in state Alabama have an average population of 71339.34328358209
Counties in state Alaska have an average population of 24490.724137931036
Counties in state Arizona have an average population of 426134.4666666667
Counties in state Arkansas have an average population of 38878.90666666667
Counties in state California have an average population of 642309.5862068966
Counties in state Colorado have an average population of 78581.1875
Counties in state Connecticut have an average population of 446762.125
Counties in state Delaware have an average population of 299311.3333333333
Counties in state District of Columbia have an average population of 601723.0
Counties in state Florida have an average population of 280616.5671641791
Counties in state Georgia have an average population of 60928.63522012578
Counties in state Hawaii have an average population of 272060.2
Counties in state Idaho have an average population of 35626.86363636364
Counties in state Illinois have an average population of 125790.50980392157
Counties in state Indiana have an average population of 70476.10869565218
Counties in state Iowa have an average population of 30771.262626262625
Counties in state Kansas have an average population of 27172.55238095238
Counties in state Kentucky have an average population of 36161.39166666667
Counties in state Louisiana have an average population of 70833.9375
Counties in state Maine have an average population of 83022.5625
Counties in state Maryland have an average population of 240564.66666666666
Counties in state Massachusetts have an average population of 467687.78571428574
Counties in state Michigan have an average population of 119080.0
Counties in state Minnesota have an average population of 60964.65517241379
Counties in state Mississippi have an average population of 36186.54878048781
Counties in state Missouri have an average population of 52077.62608695652
Counties in state Montana have an average population of 17668.125
Counties in state Nebraska have an average population of 19638.075268817203
Counties in state Nevada have an average population of 158855.9411764706
Counties in state New Hampshire have an average population of 131647.0
Counties in state New Jersey have an average population of 418661.61904761905
Counties in state New Mexico have an average population of 62399.36363636364
Counties in state New York have an average population of 312550.03225806454
Counties in state North Carolina have an average population of 95354.83
Counties in state North Dakota have an average population of 12690.396226415094
Counties in state Ohio have an average population of 131096.63636363635
Counties in state Oklahoma have an average population of 48718.844155844155
Counties in state Oregon have an average population of 106418.72222222222
Counties in state Pennsylvania have an average population of 189587.74626865672
Counties in state Rhode Island have an average population of 210513.4
Counties in state South Carolina have an average population of 100551.39130434782
Counties in state South Dakota have an average population of 12336.060606060606
Counties in state Tennessee have an average population of 66801.1052631579
Counties in state Texas have an average population of 98998.27165354331
Counties in state Utah have an average population of 95306.37931034483
Counties in state Vermont have an average population of 44695.78571428572
Counties in state Virginia have an average population of 60111.29323308271
Counties in state Washington have an average population of 172424.10256410256
Counties in state West Virginia have an average population of 33690.8
Counties in state Wisconsin have an average population of 78985.91666666667
Counties in state Wyoming have an average population of 24505.478260869564
Counties in state Alabama have an average population of 71339.34328358209
Counties in state Alaska have an average population of 24490.724137931036
Counties in state Arizona have an average population of 426134.4666666667
Counties in state Arkansas have an average population of 38878.90666666667
Counties in state California have an average population of 642309.5862068966
Counties in state Colorado have an average population of 78581.1875
Counties in state Connecticut have an average population of 446762.125
Counties in state Delaware have an average population of 299311.3333333333
Counties in state District of Columbia have an average population of 601723.0
Counties in state Florida have an average population of 280616.5671641791
Counties in state Georgia have an average population of 60928.63522012578
Counties in state Hawaii have an average population of 272060.2
Counties in state Idaho have an average population of 35626.86363636364
Counties in state Illinois have an average population of 125790.50980392157
Counties in state Indiana have an average population of 70476.10869565218
Counties in state Iowa have an average population of 30771.262626262625
Counties in state Kansas have an average population of 27172.55238095238
Counties in state Kentucky have an average population of 36161.39166666667
Counties in state Louisiana have an average population of 70833.9375
Counties in state Maine have an average population of 83022.5625
Counties in state Maryland have an average population of 240564.66666666666
Counties in state Massachusetts have an average population of 467687.78571428574
Counties in state Michigan have an average population of 119080.0
Counties in state Minnesota have an average population of 60964.65517241379
Counties in state Mississippi have an average population of 36186.54878048781
Counties in state Missouri have an average population of 52077.62608695652
Counties in state Montana have an average population of 17668.125
Counties in state Nebraska have an average population of 19638.075268817203
Counties in state Nevada have an average population of 158855.9411764706
Counties in state New Hampshire have an average population of 131647.0
Counties in state New Jersey have an average population of 418661.61904761905
Counties in state New Mexico have an average population of 62399.36363636364
Counties in state New York have an average population of 312550.03225806454
Counties in state North Carolina have an average population of 95354.83
Counties in state North Dakota have an average population of 12690.396226415094
Counties in state Ohio have an average population of 131096.63636363635
Counties in state Oklahoma have an average population of 48718.844155844155
Counties in state Oregon have an average population of 106418.72222222222
Counties in state Pennsylvania have an average population of 189587.74626865672
Counties in state Rhode Island have an average population of 210513.4
Counties in state South Carolina have an average population of 100551.39130434782
Counties in state South Dakota have an average population of 12336.060606060606
Counties in state Tennessee have an average population of 66801.1052631579
Counties in state Texas have an average population of 98998.27165354331
Counties in state Utah have an average population of 95306.37931034483
Counties in state Vermont have an average population of 44695.78571428572
Counties in state Virginia have an average population of 60111.29323308271
Counties in state Washington have an average population of 172424.10256410256
Counties in state West Virginia have an average population of 33690.8
Counties in state Wisconsin have an average population of 78985.91666666667
Counties in state Wyoming have an average population of 24505.478260869564
Counties in state Alabama have an average population of 71339.34328358209
Counties in state Alaska have an average population of 24490.724137931036
Counties in state Arizona have an average population of 426134.4666666667
Counties in state Arkansas have an average population of 38878.90666666667
Counties in state California have an average population of 642309.5862068966
Counties in state Colorado have an average population of 78581.1875
Counties in state Connecticut have an average population of 446762.125
Counties in state Delaware have an average population of 299311.3333333333
Counties in state District of Columbia have an average population of 601723.0
Counties in state Florida have an average population of 280616.5671641791
Counties in state Georgia have an average population of 60928.63522012578
Counties in state Hawaii have an average population of 272060.2
Counties in state Idaho have an average population of 35626.86363636364
Counties in state Illinois have an average population of 125790.50980392157
Counties in state Indiana have an average population of 70476.10869565218
Counties in state Iowa have an average population of 30771.262626262625
Counties in state Kansas have an average population of 27172.55238095238
Counties in state Kentucky have an average population of 36161.39166666667
Counties in state Louisiana have an average population of 70833.9375
Counties in state Maine have an average population of 83022.5625
Counties in state Maryland have an average population of 240564.66666666666
Counties in state Massachusetts have an average population of 467687.78571428574
Counties in state Michigan have an average population of 119080.0
Counties in state Minnesota have an average population of 60964.65517241379
Counties in state Mississippi have an average population of 36186.54878048781
Counties in state Missouri have an average population of 52077.62608695652
Counties in state Montana have an average population of 17668.125
Counties in state Nebraska have an average population of 19638.075268817203
Counties in state Nevada have an average population of 158855.9411764706
Counties in state New Hampshire have an average population of 131647.0
Counties in state New Jersey have an average population of 418661.61904761905
Counties in state New Mexico have an average population of 62399.36363636364
Counties in state New York have an average population of 312550.03225806454
Counties in state North Carolina have an average population of 95354.83
Counties in state North Dakota have an average population of 12690.396226415094
Counties in state Ohio have an average population of 131096.63636363635
Counties in state Oklahoma have an average population of 48718.844155844155
Counties in state Oregon have an average population of 106418.72222222222
Counties in state Pennsylvania have an average population of 189587.74626865672
Counties in state Rhode Island have an average population of 210513.4
Counties in state South Carolina have an average population of 100551.39130434782
Counties in state South Dakota have an average population of 12336.060606060606
Counties in state Tennessee have an average population of 66801.1052631579
Counties in state Texas have an average population of 98998.27165354331
Counties in state Utah have an average population of 95306.37931034483
Counties in state Vermont have an average population of 44695.78571428572
Counties in state Virginia have an average population of 60111.29323308271
Counties in state Washington have an average population of 172424.10256410256
Counties in state West Virginia have an average population of 33690.8
Counties in state Wisconsin have an average population of 78985.91666666667
Counties in state Wyoming have an average population of 24505.478260869564
Counties in state Alabama have an average population of 71339.34328358209
Counties in state Alaska have an average population of 24490.724137931036
Counties in state Arizona have an average population of 426134.4666666667
Counties in state Arkansas have an average population of 38878.90666666667
Counties in state California have an average population of 642309.5862068966
Counties in state Colorado have an average population of 78581.1875
Counties in state Connecticut have an average population of 446762.125
Counties in state Delaware have an average population of 299311.3333333333
Counties in state District of Columbia have an average population of 601723.0
Counties in state Florida have an average population of 280616.5671641791
Counties in state Georgia have an average population of 60928.63522012578
Counties in state Hawaii have an average population of 272060.2
Counties in state Idaho have an average population of 35626.86363636364
Counties in state Illinois have an average population of 125790.50980392157
Counties in state Indiana have an average population of 70476.10869565218

In [17]:
df=df.set_index('STNAME')

def set_batch_number(item):
    if item[0]<'M':
        return 0
    if item[0]<'Q':
        return 1
    return 2

for group, frame in df.groupby(set_batch_number):
    print('There are '+str(len(frame)) + ' records in group '+str(group)+ ' for processing.')

There are 1177 records in group 0 for processing.
There are 1134 records in group 1 for processing.
There are 831 records in group 2 for processing.

In [8]:
df=pd.read_csv("datasets/listings.csv")
df.head()

,id,listing_url,scrape_id,last_scraped,name,summary,space,description,experiences_offered,neighborhood_overview,...,review_scores_value,requires_license,license,jurisdiction_names,instant_bookable,cancellation_policy,require_guest_profile_picture,require_guest_phone_verification,calculated_host_listings_count,reviews_per_month
0,12147973,https://www.airbnb.com/rooms/12147973,20160906204935,2016-09-07,Sunny Bungalow in the City,"Cozy, sunny, family home. Master bedroom high...",The house has an open and cozy feel at the sam...,"Cozy, sunny, family home. Master bedroom high...",none,"Roslindale is quiet, convenient and friendly. ...",...,NaN,f,NaN,NaN,f,moderate,f,f,1,NaN
1,3075044,https://www.airbnb.com/rooms/3075044,20160906204935,2016-09-07,Charming room in pet friendly apt,Charming and quiet room in a second floor 1910...,Small but cozy and quite room with a full size...,Charming and quiet room in a second floor 1910...,none,"The room is in Roslindale, a diverse and prima...",...,9.0,f,NaN,NaN,t,moderate,f,f,1,1.30
2,6976,https://www.airbnb.com/rooms/6976,20160906204935,2016-09-07,Mexican Folk Art Haven in Boston,"Come stay with a friendly, middle-aged guy in ...","Come stay with a friendly, middle-aged guy in ...","Come stay with a friendly, middle-aged guy in ...",none,The LOCATION: Roslindale is a safe and diverse...,...,10.0,f,NaN,NaN,f,moderate,t,f,1,0.47
3,1436513,https://www.airbnb.com/rooms/1436513,20160906204935,2016-09-07,Spacious Sunny Bedroom Suite in Historic Home,Come experience the comforts of home away from...,Most places you find in Boston are small howev...,Come experience the comforts of home away from...,none,Roslindale is a lovely little neighborhood loc...,...,10.0,f,NaN,NaN,f,moderate,f,f,1,1.00
4,7651065,https://www.airbnb.com/rooms/7651065,20160906204935,2016-09-07,Come Home to Boston,"My comfy, clean and relaxing home is one block...","Clean, attractive, private room, one block fro...","My comfy, clean and relaxing home is one block...",none,"I love the proximity to downtown, the neighbor...",...,10.0,f,NaN,NaN,f,flexible,f,f,1,2.25

In [9]:

df=df.set_index(["cancellation_policy","review_scores_value"])
for group, frame in df.groupby(level=(0,1)):
    print(group)

('flexible', 2.0)
('flexible', 4.0)
('flexible', 5.0)
('flexible', 6.0)
('flexible', 7.0)
('flexible', 8.0)
('flexible', 9.0)
('flexible', 10.0)
('moderate', 2.0)
('moderate', 4.0)
('moderate', 6.0)
('moderate', 7.0)
('moderate', 8.0)
('moderate', 9.0)
('moderate', 10.0)
('strict', 2.0)
('strict', 3.0)
('strict', 4.0)
('strict', 5.0)
('strict', 6.0)
('strict', 7.0)
('strict', 8.0)
('strict', 9.0)
('strict', 10.0)
('super_strict_30', 6.0)
('super_strict_30', 7.0)
('super_strict_30', 8.0)
('super_strict_30', 9.0)
('super_strict_30', 10.0)

In [10]:
def grouping_fun(item):
    if item[1]==10.0:
        return(item[0],'10.0')
    else:
        return (item[0],'not 10.0')
    
for group, frame in df.groupby(by=grouping_fun):
    print(group)

('flexible', '10.0')
('flexible', 'not 10.0')
('moderate', '10.0')
('moderate', 'not 10.0')
('strict', '10.0')
('strict', 'not 10.0')
('super_strict_30', '10.0')
('super_strict_30', 'not 10.0')

In [11]:
df=df.reset_index()

In [12]:
df.groupby("cancellation_policy").agg({"review_scores_value":np.average})

                     review_scores_value
cancellation_policy
flexible                             NaN
moderate                             NaN
strict                               NaN
super_strict_30                      NaN

In [23]:
df.groupby("cancellation_policy").agg({"review_scores_value":np.nanmean})

/tmp/ipykernel_9588/3072045663.py:1: FutureWarning: The provided callable <function nanmean at 0x70f2200e9c60> is currently using SeriesGroupBy.mean. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "mean" instead.
  df.groupby("cancellation_policy").agg({"review_scores_value":np.nanmean})

                     review_scores_value
cancellation_policy
flexible                        9.237421
moderate                        9.307398
strict                          9.081441
super_strict_30                 8.537313

In [13]:
df.groupby("cancellation_policy").agg({"review_scores_value":(np.nanmean,np.nanstd),
                                       "reviews_per_month":np.nanmean})

/tmp/ipykernel_5887/3154721407.py:1: FutureWarning: The provided callable <function nanmean at 0x799f4d9684c0> is currently using SeriesGroupBy.mean. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "mean" instead.
  df.groupby("cancellation_policy").agg({"review_scores_value":(np.nanmean,np.nanstd),
/tmp/ipykernel_5887/3154721407.py:1: FutureWarning: The provided callable <function nanstd at 0x799f4d968dc0> is currently using SeriesGroupBy.std. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "std" instead.
  df.groupby("cancellation_policy").agg({"review_scores_value":(np.nanmean,np.nanstd),
/tmp/ipykernel_5887/3154721407.py:1: FutureWarning: The provided callable <function nanmean at 0x799f4d9684c0> is currently using SeriesGroupBy.mean. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "mean" instead.
  df.groupby("cancellation_policy").agg({"review_scores_value":(np.nanmean,np.nanstd),

                    review_scores_value           reviews_per_month
                                nanmean    nanstd           nanmean
cancellation_policy
flexible                       9.237421  1.096271          1.829210
moderate                       9.307398  0.859859          2.391922
strict                         9.081441  1.040531          1.873467
super_strict_30                8.537313  0.840785          0.340143

In [14]:
cols=['cancellation_policy','review_scores_value']
transform_df=df[cols].groupby('cancellation_policy').transform(np.nanmean)
transform_df.head()

/tmp/ipykernel_5887/193012667.py:2: FutureWarning: The provided callable <function nanmean at 0x799f4d9684c0> is currently using DataFrameGroupBy.mean. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "mean" instead.
  transform_df=df[cols].groupby('cancellation_policy').transform(np.nanmean)

   review_scores_value
0             9.307398
1             9.307398
2             9.307398
3             9.307398
4             9.237421

In [15]:
transform_df.rename({'review_scores_value':'mean_review_scores'},axis='columns',inplace=True)
df=df.merge(transform_df,left_index=True,right_index=True)
df.head()

,cancellation_policy,review_scores_value,id,listing_url,scrape_id,last_scraped,name,summary,space,description,...,review_scores_location,requires_license,license,jurisdiction_names,instant_bookable,require_guest_profile_picture,require_guest_phone_verification,calculated_host_listings_count,reviews_per_month,mean_review_scores
0,moderate,NaN,12147973,https://www.airbnb.com/rooms/12147973,20160906204935,2016-09-07,Sunny Bungalow in the City,"Cozy, sunny, family home. Master bedroom high...",The house has an open and cozy feel at the sam...,"Cozy, sunny, family home. Master bedroom high...",...,NaN,f,NaN,NaN,f,f,f,1,NaN,9.307398
1,moderate,9.0,3075044,https://www.airbnb.com/rooms/3075044,20160906204935,2016-09-07,Charming room in pet friendly apt,Charming and quiet room in a second floor 1910...,Small but cozy and quite room with a full size...,Charming and quiet room in a second floor 1910...,...,9.0,f,NaN,NaN,t,f,f,1,1.30,9.307398
2,moderate,10.0,6976,https://www.airbnb.com/rooms/6976,20160906204935,2016-09-07,Mexican Folk Art Haven in Boston,"Come stay with a friendly, middle-aged guy in ...","Come stay with a friendly, middle-aged guy in ...","Come stay with a friendly, middle-aged guy in ...",...,9.0,f,NaN,NaN,f,t,f,1,0.47,9.307398
3,moderate,10.0,1436513,https://www.airbnb.com/rooms/1436513,20160906204935,2016-09-07,Spacious Sunny Bedroom Suite in Historic Home,Come experience the comforts of home away from...,Most places you find in Boston are small howev...,Come experience the comforts of home away from...,...,10.0,f,NaN,NaN,f,f,f,1,1.00,9.307398
4,flexible,10.0,7651065,https://www.airbnb.com/rooms/7651065,20160906204935,2016-09-07,Come Home to Boston,"My comfy, clean and relaxing home is one block...","Clean, attractive, private room, one block fro...","My comfy, clean and relaxing home is one block...",...,9.0,f,NaN,NaN,f,f,f,1,2.25,9.237421

In [16]:
df['mean_diff']=np.absolute(df['review_scores_value']-df['mean_review_scores'])
df['mean_diff'].head()

0         NaN
1    0.307398
2    0.692602
3    0.692602
4    0.762579
Name: mean_diff, dtype: float64

In [17]:
df.groupby('cancellation_policy').filter(lambda x: np.nanmean(x['review_scores_value'])>9.2)

,cancellation_policy,review_scores_value,id,listing_url,scrape_id,last_scraped,name,summary,space,description,...,requires_license,license,jurisdiction_names,instant_bookable,require_guest_profile_picture,require_guest_phone_verification,calculated_host_listings_count,reviews_per_month,mean_review_scores,mean_diff
0,moderate,NaN,12147973,https://www.airbnb.com/rooms/12147973,20160906204935,2016-09-07,Sunny Bungalow in the City,"Cozy, sunny, family home. Master bedroom high...",The house has an open and cozy feel at the sam...,"Cozy, sunny, family home. Master bedroom high...",...,f,NaN,NaN,f,f,f,1,NaN,9.307398,NaN
1,moderate,9.0,3075044,https://www.airbnb.com/rooms/3075044,20160906204935,2016-09-07,Charming room in pet friendly apt,Charming and quiet room in a second floor 1910...,Small but cozy and quite room with a full size...,Charming and quiet room in a second floor 1910...,...,f,NaN,NaN,t,f,f,1,1.30,9.307398,0.307398
2,moderate,10.0,6976,https://www.airbnb.com/rooms/6976,20160906204935,2016-09-07,Mexican Folk Art Haven in Boston,"Come stay with a friendly, middle-aged guy in ...","Come stay with a friendly, middle-aged guy in ...","Come stay with a friendly, middle-aged guy in ...",...,f,NaN,NaN,f,t,f,1,0.47,9.307398,0.692602
3,moderate,10.0,1436513,https://www.airbnb.com/rooms/1436513,20160906204935,2016-09-07,Spacious Sunny Bedroom Suite in Historic Home,Come experience the comforts of home away from...,Most places you find in Boston are small howev...,Come experience the comforts of home away from...,...,f,NaN,NaN,f,f,f,1,1.00,9.307398,0.692602
4,flexible,10.0,7651065,https://www.airbnb.com/rooms/7651065,20160906204935,2016-09-07,Come Home to Boston,"My comfy, clean and relaxing home is one block...","Clean, attractive, private room, one block fro...","My comfy, clean and relaxing home is one block...",...,f,NaN,NaN,f,f,f,1,2.25,9.237421,0.762579
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3576,flexible,NaN,14689681,https://www.airbnb.com/rooms/14689681,20160906204935,2016-09-07,Beautiful loft style bedroom with large bathroom,You'd be living on the top floor of a four sto...,NaN,You'd be living on the top floor of a four sto...,...,f,NaN,NaN,f,f,f,1,NaN,9.237421,NaN
3577,flexible,NaN,13750763,https://www.airbnb.com/rooms/13750763,20160906204935,2016-09-07,Comfortable Space in the Heart of Brookline,"Our place is close to Coolidge Corner, Allston...",This space consists of 2 Rooms and a private b...,"Our place is close to Coolidge Corner, Allston...",...,f,NaN,NaN,f,f,f,1,NaN,9.237421,NaN
3579,flexible,NaN,14852179,https://www.airbnb.com/rooms/14852179,20160906204935,2016-09-07,Spacious Queen Bed Room Close to Boston Univer...,- Grocery: A full-size Star market is 2 minute...,NaN,- Grocery: A full-size Star market is 2 minute...,...,f,NaN,NaN,f,f,f,1,NaN,9.237421,NaN
3582,flexible,NaN,14585486,https://www.airbnb.com/rooms/14585486,20160906204935,2016-09-07,Gorgeous funky apartment,Funky little apartment close to public transpo...,Modern and relaxed space with many facilities ...,Funky little apartment close to public transpo...,...,f,NaN,NaN,f,f,f,1,NaN,9.237421,NaN
3584,flexible,NaN,14504422,https://www.airbnb.com/rooms/14504422,20160906204935,2016-09-07,(K1) Private Room near Harvard/MIT,My place is close to My home is a warm and fri...,To ensure a smooth check in: 1. You MUST have ...,My place is close to My home is a warm and fri...,...,f,NaN,NaN,t,f,f,3,NaN,9.237421,NaN

In [19]:
df=pd.read_csv("datasets/listings.csv")
df=df[['cancellation_policy','review_scores_value']]
df.head()

  cancellation_policy  review_scores_value
0            moderate                  NaN
1            moderate                  9.0
2            moderate                 10.0
3            moderate                 10.0
4            flexible                 10.0

In [21]:
def calc_mean_review_scores(group):
    avg=np.nanmean(group["review_scores_value"])
    group["review_scores_mean"]=np.abs(avg-group["review_scores_value"])
    return group

df.groupby('cancellation_policy').apply(calc_mean_review_scores).head()

                       cancellation_policy  review_scores_value  \
cancellation_policy
flexible            4             flexible                 10.0
                    5             flexible                 10.0
                    10            flexible                 10.0
                    11            flexible                  9.0
                    12            flexible                 10.0

                        review_scores_mean
cancellation_policy
flexible            4             0.762579
                    5             0.762579
                    10            0.762579
                    11            0.237421
                    12            0.762579

#### scales

In [22]:
import pandas as pd

In [24]:
df=pd.DataFrame(['A+','A','A-','B+','B','B-','C+','C','C-','D+','D'],
                index=['excellent','excellent','excellent','good','good','good','ok','ok','ok','poor','poor'],columns=['Grades'])

In [25]:
df

          Grades
excellent     A+
excellent      A
excellent     A-
good          B+
good           B
good          B-
ok            C+
ok             C
ok            C-
poor          D+
poor           D

In [26]:
df["Grades"].astype("category").head()

excellent    A+
excellent     A
excellent    A-
good         B+
good          B
Name: Grades, dtype: category
Categories (11, object): ['A', 'A+', 'A-', 'B', ..., 'C+', 'C-', 'D', 'D+']

In [27]:
my_categories=pd.CategoricalDtype(categories=['D','D+','C-','C','C+','B-','B','B+','A-','A','A+'],
                                  ordered=True)
grades=df["Grades"].astype(my_categories)
grades.head()

excellent    A+
excellent     A
excellent    A-
good         B+
good          B
Name: Grades, dtype: category
Categories (11, object): ['D' < 'D+' < 'C-' < 'C' ... 'B+' < 'A-' < 'A' < 'A+']

In [28]:
df[df["Grades"]>'C']

     Grades
ok       C+
ok       C-
poor     D+
poor      D

In [29]:
grades[grades>"C"]

excellent    A+
excellent     A
excellent    A-
good         B+
good          B
good         B-
ok           C+
Name: Grades, dtype: category
Categories (11, object): ['D' < 'D+' < 'C-' < 'C' ... 'B+' < 'A-' < 'A' < 'A+']

In [30]:
import numpy as np

df=pd.read_csv("datasets/census.csv")
df=df[df['SUMLEV']==50]

df=df.set_index("STNAME").groupby(level=0)['CENSUS2010POP'].agg(np.average)

In [31]:
df.head()

STNAME
Alabama        71339.343284
Alaska         24490.724138
Arizona       426134.466667
Arkansas       38878.906667
California    642309.586207
Name: CENSUS2010POP, dtype: float64

In [32]:
pd.cut(df,10)

STNAME
Alabama                   (11706.087, 75333.413]
Alaska                    (11706.087, 75333.413]
Arizona                 (390320.176, 453317.529]
Arkansas                  (11706.087, 75333.413]
California              (579312.234, 642309.586]
Colorado                 (75333.413, 138330.766]
Connecticut             (390320.176, 453317.529]
Delaware                (264325.471, 327322.823]
District of Columbia    (579312.234, 642309.586]
Florida                 (264325.471, 327322.823]
Georgia                   (11706.087, 75333.413]
Hawaii                  (264325.471, 327322.823]
Idaho                     (11706.087, 75333.413]
Illinois                 (75333.413, 138330.766]
Indiana                   (11706.087, 75333.413]
Iowa                      (11706.087, 75333.413]
Kansas                    (11706.087, 75333.413]
Kentucky                  (11706.087, 75333.413]
Louisiana                 (11706.087, 75333.413]
Maine                    (75333.413, 138330.766]
Maryland                (201328.118, 264325.471]
Massachusetts           (453317.529, 516314.881]
Michigan                 (75333.413, 138330.766]
Minnesota                 (11706.087, 75333.413]
Mississippi               (11706.087, 75333.413]
Missouri                  (11706.087, 75333.413]
Montana                   (11706.087, 75333.413]
Nebraska                  (11706.087, 75333.413]
Nevada                  (138330.766, 201328.118]
New Hampshire            (75333.413, 138330.766]
New Jersey              (390320.176, 453317.529]
New Mexico                (11706.087, 75333.413]
New York                (264325.471, 327322.823]
North Carolina           (75333.413, 138330.766]
North Dakota              (11706.087, 75333.413]
Ohio                     (75333.413, 138330.766]
Oklahoma                  (11706.087, 75333.413]
Oregon                   (75333.413, 138330.766]
Pennsylvania            (138330.766, 201328.118]
Rhode Island            (201328.118, 264325.471]
South Carolina           (75333.413, 138330.766]
South Dakota              (11706.087, 75333.413]
Tennessee                 (11706.087, 75333.413]
Texas                    (75333.413, 138330.766]
Utah                     (75333.413, 138330.766]
Vermont                   (11706.087, 75333.413]
Virginia                  (11706.087, 75333.413]
Washington              (138330.766, 201328.118]
West Virginia             (11706.087, 75333.413]
Wisconsin                (75333.413, 138330.766]
Wyoming                   (11706.087, 75333.413]
Name: CENSUS2010POP, dtype: category
Categories (10, interval[float64, right]): [(11706.087, 75333.413] < (75333.413, 138330.766] < (138330.766, 201328.118] < (201328.118, 264325.471] ... (390320.176, 453317.529] < (453317.529, 516314.881] < (516314.881, 579312.234] < (579312.234, 642309.586]]

#### Pivot table

In [34]:
import pandas as pd
import numpy as np

df=pd.read_csv('datasets/cwurData.csv')
df.head()

,world_rank,institution,country,national_rank,quality_of_education,alumni_employment,quality_of_faculty,publications,influence,citations,broad_impact,patents,score,year
0,1,Harvard University,USA,1,7,9,1,1,1,1,NaN,5,100.00,2012
1,2,Massachusetts Institute of Technology,USA,2,9,17,3,12,4,4,NaN,1,91.67,2012
2,3,Stanford University,USA,3,17,11,5,4,2,2,NaN,15,89.50,2012
3,4,University of Cambridge,United Kingdom,1,10,24,4,16,16,11,NaN,50,86.17,2012
4,5,California Institute of Technology,USA,4,2,29,7,37,22,22,NaN,18,85.21,2012

In [35]:
def create_category(ranking):

    if(ranking>=1) & (ranking <= 100):
        return "First Tier Top University"
    elif (ranking>=101) & (ranking <= 200):
        return "Second Tier Top University"
    elif (ranking >= 201) & (ranking<=300):
        return "Third Tier Top University"
    return "Other Top University"

In [36]:
df['Rank_Level']=df['world_rank'].apply(lambda x:create_category(x))
df.head()

,world_rank,institution,country,national_rank,quality_of_education,alumni_employment,quality_of_faculty,publications,influence,citations,broad_impact,patents,score,year,Rank_Level
0,1,Harvard University,USA,1,7,9,1,1,1,1,NaN,5,100.00,2012,First Tier Top University
1,2,Massachusetts Institute of Technology,USA,2,9,17,3,12,4,4,NaN,1,91.67,2012,First Tier Top University
2,3,Stanford University,USA,3,17,11,5,4,2,2,NaN,15,89.50,2012,First Tier Top University
3,4,University of Cambridge,United Kingdom,1,10,24,4,16,16,11,NaN,50,86.17,2012,First Tier Top University
4,5,California Institute of Technology,USA,4,2,29,7,37,22,22,NaN,18,85.21,2012,First Tier Top University

In [37]:
df.pivot_table(values='score', index='country', columns="Rank_Level", aggfunc=[np.mean]).head()

/tmp/ipykernel_5887/450201563.py:1: FutureWarning: The provided callable <function mean at 0x799f4daa55a0> is currently using DataFrameGroupBy.mean. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "mean" instead.
  df.pivot_table(values='score', index='country', columns="Rank_Level", aggfunc=[np.mean]).head()

                                mean                       \
Rank_Level First Tier Top University Other Top University
country
Argentina                        NaN            44.672857
Australia                    47.9425            44.645750
Austria                          NaN            44.864286
Belgium                      51.8750            45.081000
Brazil                           NaN            44.499706


Rank_Level Second Tier Top University Third Tier Top University
country
Argentina                         NaN                       NaN
Australia                     49.2425                 47.285000
Austria                           NaN                 47.066667
Belgium                       49.0840                 46.746667
Brazil                        49.5650                       NaN

In [38]:
df.pivot_table(values='score', index='country', columns='Rank_Level', aggfunc=[np.mean,np.max]).head()

/tmp/ipykernel_5887/3442321878.py:1: FutureWarning: The provided callable <function mean at 0x799f4daa55a0> is currently using DataFrameGroupBy.mean. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "mean" instead.
  df.pivot_table(values='score', index='country', columns='Rank_Level', aggfunc=[np.mean,np.max]).head()
/tmp/ipykernel_5887/3442321878.py:1: FutureWarning: The provided callable <function max at 0x799f4daa4ca0> is currently using DataFrameGroupBy.max. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "max" instead.
  df.pivot_table(values='score', index='country', columns='Rank_Level', aggfunc=[np.mean,np.max]).head()

                                mean                       \
Rank_Level First Tier Top University Other Top University
country
Argentina                        NaN            44.672857
Australia                    47.9425            44.645750
Austria                          NaN            44.864286
Belgium                      51.8750            45.081000
Brazil                           NaN            44.499706

                                                                 \
Rank_Level Second Tier Top University Third Tier Top University
country
Argentina                         NaN                       NaN
Australia                     49.2425                 47.285000
Austria                           NaN                 47.066667
Belgium                       49.0840                 46.746667
Brazil                        49.5650                       NaN

                                 max                       \
Rank_Level First Tier Top University Other Top University
country
Argentina                        NaN                45.66
Australia                      51.61                45.97
Austria                          NaN                46.29
Belgium                        52.03                46.21
Brazil                           NaN                46.08


Rank_Level Second Tier Top University Third Tier Top University
country
Argentina                         NaN                       NaN
Australia                       50.40                     47.47
Austria                           NaN                     47.78
Belgium                         49.73                     47.14
Brazil                          49.82                       NaN

In [39]:
df.pivot_table(values='score', index='country', columns='Rank_Level', aggfunc=[np.mean,np.max],
               margins=True).head()

/tmp/ipykernel_5887/3581955652.py:1: FutureWarning: The provided callable <function mean at 0x799f4daa55a0> is currently using DataFrameGroupBy.mean. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "mean" instead.
  df.pivot_table(values='score', index='country', columns='Rank_Level', aggfunc=[np.mean,np.max],
/tmp/ipykernel_5887/3581955652.py:1: FutureWarning: The provided callable <function mean at 0x799f4daa55a0> is currently using DataFrameGroupBy.mean. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "mean" instead.
  df.pivot_table(values='score', index='country', columns='Rank_Level', aggfunc=[np.mean,np.max],
/tmp/ipykernel_5887/3581955652.py:1: FutureWarning: The provided callable <function mean at 0x799f4daa55a0> is currently using DataFrameGroupBy.mean. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "mean" instead.
  df.pivot_table(values='score', index='country', columns='Rank_Level', aggfunc=[np.mean,np.max],
/tmp/ipykernel_5887/3581955652.py:1: FutureWarning: The provided callable <function max at 0x799f4daa4ca0> is currently using DataFrameGroupBy.max. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "max" instead.
  df.pivot_table(values='score', index='country', columns='Rank_Level', aggfunc=[np.mean,np.max],
/tmp/ipykernel_5887/3581955652.py:1: FutureWarning: The provided callable <function max at 0x799f4daa4ca0> is currently using DataFrameGroupBy.max. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "max" instead.
  df.pivot_table(values='score', index='country', columns='Rank_Level', aggfunc=[np.mean,np.max],
/tmp/ipykernel_5887/3581955652.py:1: FutureWarning: The provided callable <function max at 0x799f4daa4ca0> is currently using DataFrameGroupBy.max. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "max" instead.
  df.pivot_table(values='score', index='country', columns='Rank_Level', aggfunc=[np.mean,np.max],

                                mean                       \
Rank_Level First Tier Top University Other Top University
country
Argentina                        NaN            44.672857
Australia                    47.9425            44.645750
Austria                          NaN            44.864286
Belgium                      51.8750            45.081000
Brazil                           NaN            44.499706

                                                                            \
Rank_Level Second Tier Top University Third Tier Top University        All
country
Argentina                         NaN                       NaN  44.672857
Australia                     49.2425                 47.285000  45.825517
Austria                           NaN                 47.066667  45.139583
Belgium                       49.0840                 46.746667  47.011000
Brazil                        49.5650                       NaN  44.781111

                                 max                       \
Rank_Level First Tier Top University Other Top University
country
Argentina                        NaN                45.66
Australia                      51.61                45.97
Austria                          NaN                46.29
Belgium                        52.03                46.21
Brazil                           NaN                46.08


Rank_Level Second Tier Top University Third Tier Top University    All
country
Argentina                         NaN                       NaN  45.66
Australia                       50.40                     47.47  51.61
Austria                           NaN                     47.78  47.78
Belgium                         49.73                     47.14  52.03
Brazil                          49.82                       NaN  49.82

In [40]:
new_df=df.pivot_table(values='score', index='country', columns='Rank_Level', aggfunc=[np.mean,np.max],
               margins=True).head()

print(new_df.index)

Index(['Argentina', 'Australia', 'Austria', 'Belgium', 'Brazil'], dtype='object', name='country')

/tmp/ipykernel_5887/3538549196.py:1: FutureWarning: The provided callable <function mean at 0x799f4daa55a0> is currently using DataFrameGroupBy.mean. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "mean" instead.
  new_df=df.pivot_table(values='score', index='country', columns='Rank_Level', aggfunc=[np.mean,np.max],
/tmp/ipykernel_5887/3538549196.py:1: FutureWarning: The provided callable <function mean at 0x799f4daa55a0> is currently using DataFrameGroupBy.mean. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "mean" instead.
  new_df=df.pivot_table(values='score', index='country', columns='Rank_Level', aggfunc=[np.mean,np.max],
/tmp/ipykernel_5887/3538549196.py:1: FutureWarning: The provided callable <function mean at 0x799f4daa55a0> is currently using DataFrameGroupBy.mean. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "mean" instead.
  new_df=df.pivot_table(values='score', index='country', columns='Rank_Level', aggfunc=[np.mean,np.max],
/tmp/ipykernel_5887/3538549196.py:1: FutureWarning: The provided callable <function max at 0x799f4daa4ca0> is currently using DataFrameGroupBy.max. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "max" instead.
  new_df=df.pivot_table(values='score', index='country', columns='Rank_Level', aggfunc=[np.mean,np.max],
/tmp/ipykernel_5887/3538549196.py:1: FutureWarning: The provided callable <function max at 0x799f4daa4ca0> is currently using DataFrameGroupBy.max. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "max" instead.
  new_df=df.pivot_table(values='score', index='country', columns='Rank_Level', aggfunc=[np.mean,np.max],
/tmp/ipykernel_5887/3538549196.py:1: FutureWarning: The provided callable <function max at 0x799f4daa4ca0> is currently using DataFrameGroupBy.max. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "max" instead.
  new_df=df.pivot_table(values='score', index='country', columns='Rank_Level', aggfunc=[np.mean,np.max],

In [41]:
print(new_df.columns)

MultiIndex([('mean',  'First Tier Top University'),
            ('mean',       'Other Top University'),
            ('mean', 'Second Tier Top University'),
            ('mean',  'Third Tier Top University'),
            ('mean',                        'All'),
            ( 'max',  'First Tier Top University'),
            ( 'max',       'Other Top University'),
            ( 'max', 'Second Tier Top University'),
            ( 'max',  'Third Tier Top University'),
            ( 'max',                        'All')],
           names=[None, 'Rank_Level'])

In [42]:
new_df['mean']['First Tier Top University'].head()

country
Argentina        NaN
Australia    47.9425
Austria          NaN
Belgium      51.8750
Brazil           NaN
Name: First Tier Top University, dtype: float64

In [43]:
new_df['mean']['First Tier Top University'].idxmax()

'Belgium'

In [44]:
new_df.head()

                                mean                       \
Rank_Level First Tier Top University Other Top University
country
Argentina                        NaN            44.672857
Australia                    47.9425            44.645750
Austria                          NaN            44.864286
Belgium                      51.8750            45.081000
Brazil                           NaN            44.499706

                                                                            \
Rank_Level Second Tier Top University Third Tier Top University        All
country
Argentina                         NaN                       NaN  44.672857
Australia                     49.2425                 47.285000  45.825517
Austria                           NaN                 47.066667  45.139583
Belgium                       49.0840                 46.746667  47.011000
Brazil                        49.5650                       NaN  44.781111

                                 max                       \
Rank_Level First Tier Top University Other Top University
country
Argentina                        NaN                45.66
Australia                      51.61                45.97
Austria                          NaN                46.29
Belgium                        52.03                46.21
Brazil                           NaN                46.08


Rank_Level Second Tier Top University Third Tier Top University    All
country
Argentina                         NaN                       NaN  45.66
Australia                       50.40                     47.47  51.61
Austria                           NaN                     47.78  47.78
Belgium                         49.73                     47.14  52.03
Brazil                          49.82                       NaN  49.82

In [45]:
new_df=new_df.stack()
new_df.head()

                                           mean    max
country   Rank_Level
Argentina Other Top University        44.672857  45.66
          All                         44.672857  45.66
Australia First Tier Top University   47.942500  51.61
          Other Top University        44.645750  45.97
          Second Tier Top University  49.242500  50.40

In [46]:
new_df.unstack().head()

                                mean                       \
Rank_Level First Tier Top University Other Top University
country
Argentina                        NaN            44.672857
Australia                    47.9425            44.645750
Austria                          NaN            44.864286
Belgium                      51.8750            45.081000
Brazil                           NaN            44.499706

                                                                            \
Rank_Level Second Tier Top University Third Tier Top University        All
country
Argentina                         NaN                       NaN  44.672857
Australia                     49.2425                 47.285000  45.825517
Austria                           NaN                 47.066667  45.139583
Belgium                       49.0840                 46.746667  47.011000
Brazil                        49.5650                       NaN  44.781111

                                 max                       \
Rank_Level First Tier Top University Other Top University
country
Argentina                        NaN                45.66
Australia                      51.61                45.97
Austria                          NaN                46.29
Belgium                        52.03                46.21
Brazil                           NaN                46.08


Rank_Level Second Tier Top University Third Tier Top University    All
country
Argentina                         NaN                       NaN  45.66
Australia                       50.40                     47.47  51.61
Austria                           NaN                     47.78  47.78
Belgium                         49.73                     47.14  52.03
Brazil                          49.82                       NaN  49.82

In [47]:
new_df.unstack().unstack().head()

      Rank_Level                 country
mean  First Tier Top University  Argentina        NaN
                                 Australia    47.9425
                                 Austria          NaN
                                 Belgium      51.8750
                                 Brazil           NaN
dtype: float64

#### Datefunctionality

In [48]:
import pandas as pd
import numpy as np

In [49]:
pd.Timestamp('9/1/2019 10:05AM')

Timestamp('2019-09-01 10:05:00')

In [50]:
pd.Timestamp(2019,12,20,0,0)

Timestamp('2019-12-20 00:00:00')

In [51]:
pd.Timestamp(2019,12,20,0,0).isoweekday()

5

In [52]:
pd.Timestamp(1999,11,21,0,0).isoweekday()

7

In [54]:
pd.Timestamp(1999,11,21,5,2,23).second

23

In [55]:
pd.Period('1/2016')

Period('2016-01', 'M')

In [56]:
pd.Period('3/5/2016')

Period('2016-03-05', 'D')

In [57]:
pd.Period('1/2016')+5

Period('2016-06', 'M')

In [58]:
pd.Period('3/5/2016')-2

Period('2016-03-03', 'D')

In [59]:
t1=pd.Series(list('abc'),[pd.Timestamp('2016-09-01'), pd.Timestamp('2016-09-02'),
                          pd.Timestamp('2016-09-03')])
t1

2016-09-01    a
2016-09-02    b
2016-09-03    c
dtype: object

In [60]:
type(t1.index)

pandas.core.indexes.datetimes.DatetimeIndex

In [62]:
t2=pd.Series(list('def'),[pd.Period('2016-09'), pd.Period('2016-10'),
                          pd.Period('2016-11')])
t2

2016-09    d
2016-10    e
2016-11    f
Freq: M, dtype: object

In [72]:
d1=['2 June 2013','2015-06-26','7/12/16']

ts3=pd.DataFrame(np.random.randint(10,100,(4,2)),index=d1,columns=list('ab'))
ts3

ValueError: Shape of passed values is (4, 2), indices imply (3, 2)

In [73]:
ts3.index=pd.to_datetime(ts3.index)
ts3

ValueError: time data "August 29, 2014" doesn't match format "%d %B %Y", at position 1. You might want to try:
    - passing `format` if your strings have a consistent format;
    - passing `format='ISO8601'` if your strings are all ISO8601 but not necessarily in exactly the same format;
    - passing `format='mixed'`, and the format will be inferred for each element individually. You might want to use `dayfirst` alongside this.

In [67]:
ts3.index

Index(['2 June 2013', 'Aug 29, 2014', '2015-06-26', '7/12/16'], dtype='object')

In [68]:
pd.to_datetime(list(ts3.index))

ValueError: time data "Aug 29, 2014" doesn't match format "%d %B %Y", at position 1. You might want to try:
    - passing `format` if your strings have a consistent format;
    - passing `format='ISO8601'` if your strings are all ISO8601 but not necessarily in exactly the same format;
    - passing `format='mixed'`, and the format will be inferred for each element individually. You might want to use `dayfirst` alongside this.

In [69]:
list(ts3.index)

['2 June 2013', 'Aug 29, 2014', '2015-06-26', '7/12/16']

In [74]:
pd.Timestamp('9/3/2016')-pd.Timestamp('9/1/2016')

Timedelta('2 days 00:00:00')

In [76]:
pd.Timestamp('9/3/2016')-pd.to_timedelta('12D 3H')

Timestamp('2016-08-21 21:00:00')

In [77]:
pd.Timestamp('9/4/2016').weekday()

6

In [78]:
pd.Timestamp('9/4/2016')+pd.offsets.Week()

Timestamp('2016-09-11 00:00:00')

In [79]:
pd.Timestamp('9/4/2016')+pd.offsets.MonthEnd()

Timestamp('2016-09-30 00:00:00')

In [80]:
dates=pd.date_range('10-01-2016', periods=9, freq='2W-SUN')
dates

DatetimeIndex(['2016-10-02', '2016-10-16', '2016-10-30', '2016-11-13',
               '2016-11-27', '2016-12-11', '2016-12-25', '2017-01-08',
               '2017-01-22'],
              dtype='datetime64[ns]', freq='2W-SUN')

In [81]:
pd.date_range('10-01-2016',periods=9,freq='B')

DatetimeIndex(['2016-10-03', '2016-10-04', '2016-10-05', '2016-10-06',
               '2016-10-07', '2016-10-10', '2016-10-11', '2016-10-12',
               '2016-10-13'],
              dtype='datetime64[ns]', freq='B')

In [82]:
pd.date_range('10-01-2016',periods=12,freq='QS-JUN')

DatetimeIndex(['2016-12-01', '2017-03-01', '2017-06-01', '2017-09-01',
               '2017-12-01', '2018-03-01', '2018-06-01', '2018-09-01',
               '2018-12-01', '2019-03-01', '2019-06-01', '2019-09-01'],
              dtype='datetime64[ns]', freq='QS-JUN')

In [85]:
dates=pd.date_range('10-01-2016',periods=9,freq='2W-SUN')
df=pd.DataFrame({'Count 1': 100+np.random.randint(-5,10,9).cumsum(),
                 'Count 2': 120+np.random.randint(-5,10,9)},index=dates)
df

            Count 1  Count 2
2016-10-02       95      117
2016-10-16       90      117
2016-10-30       86      115
2016-11-13       86      118
2016-11-27       86      126
2016-12-11       87      116
2016-12-25       93      116
2017-01-08       97      124
2017-01-22      104      115

In [88]:
df.index.weekday_name

AttributeError: 'DatetimeIndex' object has no attribute 'weekday_name'

In [89]:
df.diff()

            Count 1  Count 2
2016-10-02      NaN      NaN
2016-10-16     -5.0      0.0
2016-10-30     -4.0     -2.0
2016-11-13      0.0      3.0
2016-11-27      0.0      8.0
2016-12-11      1.0    -10.0
2016-12-25      6.0      0.0
2017-01-08      4.0      8.0
2017-01-22      7.0     -9.0

In [90]:
df.resample('M').mean()

               Count 1     Count 2
2016-10-31   90.333333  116.333333
2016-11-30   86.000000  122.000000
2016-12-31   90.000000  116.000000
2017-01-31  100.500000  119.500000

In [95]:
df['2017-12':]

Empty DataFrame
Columns: [Count 1, Count 2]
Index: []