### The Series Data Structure

In [3]:
import pandas as pd

In [4]:
students=['Alice','Jack','Molly']
pd.Series(students)

0    Alice
1     Jack
2    Molly
dtype: object

In [5]:
number=[1,2,3]
pd.Series(number)

0    1
1    2
2    3
dtype: int64

In [7]:
students=['Alice','Jack',None]
pd.Series(students)

0    Alice
1     Jack
2     None
dtype: object

In [8]:
numbers=[1,2,None]
pd.Series(numbers)

0    1.0
1    2.0
2    NaN
dtype: float64

In [1]:
import numpy as np
import pandas as pd

In [2]:
np.nan==None

False

In [3]:
np.isnan(np.nan)

True

In [5]:
students_scores={'Alice':'Physics','Jack':'Chemistry','Molly':'English'}
s=pd.Series(students_scores)
s

Alice      Physics
Jack     Chemistry
Molly      English
dtype: object

In [6]:
s.index

Index(['Alice', 'Jack', 'Molly'], dtype='object')

In [7]:
s['Alice']

'Physics'

In [8]:
students=[("Alice","Brown"),("Jack","white"),("Molly","Green")]
pd.Series(students)

0    (Alice, Brown)
1     (Jack, white)
2    (Molly, Green)
dtype: object

In [9]:
s=pd.Series(['Physics','Chemistry','English'],index=['Alice','Jack','Molly'])

In [10]:
s

Alice      Physics
Jack     Chemistry
Molly      English
dtype: object

In [12]:
students_scores={'Alice':'Physics','Jack':'Chemistry','Molly':'English'}
s=pd.Series(students_scores,index=['Alice','Molly','Sam'])
s

Alice    Physics
Molly    English
Sam          NaN
dtype: object

### Queryng a Series

In [13]:
students_classes={'Alice':'Physics','Jack':'Chemistry','Molly':'English','Sam':'History'}
s=pd.Series(students_classes)
s

Alice      Physics
Jack     Chemistry
Molly      English
Sam        History
dtype: object

In [14]:
s.iloc[3]

'History'

In [15]:
s[1]

/tmp/ipykernel_13383/878419959.py:1: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  s[1]

'Chemistry'

In [17]:
s.loc['Molly']

'English'

In [18]:
s['Molly']

'English'

In [19]:
s[3]

/tmp/ipykernel_13383/3172538273.py:1: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  s[3]

'History'

In [20]:
class_code={99:'physics',100:'chemistry',101:'English',102:'History'}
s=pd.Series(class_code)

In [21]:
s[0]

KeyError: 0

In [22]:
s[99]

'physics'

In [23]:
grades=pd.Series([90,80,70,60])

total=0
for grade in grades:
    total+=grade
print(total/len(grades))

75.0

In [24]:
total=np.sum(grades)
print(total/len(grades))

75.0

In [25]:
numbers=pd.Series(np.random.randint(0,1000,10000))
numbers.head()

0    655
1    599
2    147
3    473
4    503
dtype: int64

In [26]:
len(numbers)

10000

In [27]:
%%timeit -n 100
total=0
for number in numbers:
    total+=number

total/len(numbers)

542 µs ± 124 µs per loop (mean ± std. dev. of 7 runs, 100 loops each)

In [28]:
%%timeit -n 100

total=np.sum(numbers)
total/len(numbers)

36.2 µs ± 14.7 µs per loop (mean ± std. dev. of 7 runs, 100 loops each)

In [29]:
numbers.head()

0    655
1    599
2    147
3    473
4    503
dtype: int64

In [30]:
numbers+=2
numbers.head()

0    657
1    601
2    149
3    475
4    505
dtype: int64

In [31]:
for label,value in numbers.iteritems():
    numbers.set_value(label,value+2)

numbers.head()

AttributeError: 'Series' object has no attribute 'iteritems'

In [32]:
%%timeit -n 10

s=pd.Series(np.random.randint(0,1000,1000))

for label, value in s.iteritems():
    s.loc[label]=value+2

Unexpected exception formatting exception. Falling back to standard exception

Traceback (most recent call last):
  File "/home/mauricio/.local/lib/python3.10/site-packages/IPython/core/interactiveshell.py", line 3550, in run_code
    exec(code_obj, self.user_global_ns, self.user_ns)
  File "/tmp/ipykernel_13383/428024133.py", line 1, in <module>
    get_ipython().run_cell_magic('timeit', '-n 10', '\ns=pd.Series(np.random.randint(0,1000,1000))\n\nfor label, value in s.iteritems():\n    s.loc[label]=value+2\n')
  File "/home/mauricio/.local/lib/python3.10/site-packages/IPython/core/interactiveshell.py", line 2517, in run_cell_magic
    result = fn(*args, **kwargs)
  File "/home/mauricio/.local/lib/python3.10/site-packages/IPython/core/magics/execution.py", line 1189, in timeit
    all_runs = timer.repeat(repeat, number)
  File "/usr/lib/python3.10/timeit.py", line 206, in repeat
    t = self.timeit(number)
  File "/home/mauricio/.local/lib/python3.10/site-packages/IPython/core/magics/execution.py", line 173, in timeit
    timing = self.inner(it, self.timer)
  File "<magic-timeit>", line 3, in inner
  File "/home/mauricio/.local/lib/python3.10/site-packages/pandas/core/generic.py", line 6204, in __getattr__
    return object.__getattribute__(self, name)
AttributeError: 'Series' object has no attribute 'iteritems'

During handling of the above exception, another exception occurred:

Traceback (most recent call last):
  File "/home/mauricio/.local/lib/python3.10/site-packages/IPython/core/interactiveshell.py", line 2144, in showtraceback
    stb = self.InteractiveTB.structured_traceback(
  File "/home/mauricio/.local/lib/python3.10/site-packages/IPython/core/ultratb.py", line 1435, in structured_traceback
    return FormattedTB.structured_traceback(
  File "/home/mauricio/.local/lib/python3.10/site-packages/IPython/core/ultratb.py", line 1326, in structured_traceback
    return VerboseTB.structured_traceback(
  File "/home/mauricio/.local/lib/python3.10/site-packages/IPython/core/ultratb.py", line 1173, in structured_traceback
    formatted_exception = self.format_exception_as_a_whole(etype, evalue, etb, number_of_lines_of_context,
  File "/home/mauricio/.local/lib/python3.10/site-packages/IPython/core/ultratb.py", line 1063, in format_exception_as_a_whole
    self.get_records(etb, number_of_lines_of_context, tb_offset) if etb else []
  File "/home/mauricio/.local/lib/python3.10/site-packages/IPython/core/ultratb.py", line 1155, in get_records
    FrameInfo(
  File "/home/mauricio/.local/lib/python3.10/site-packages/IPython/core/ultratb.py", line 780, in __init__
    ix = inspect.getsourcelines(frame)
  File "/usr/lib/python3.10/inspect.py", line 1121, in getsourcelines
    lines, lnum = findsource(object)
  File "/usr/lib/python3.10/inspect.py", line 958, in findsource
    raise OSError('could not get source code')
OSError: could not get source code

In [33]:
%%timeit -n 10

s=pd.Series(np.random.randint(0,1000,1000))
s+=2

162 µs ± 38.2 µs per loop (mean ± std. dev. of 7 runs, 10 loops each)

In [34]:
s=pd.Series([1,2,3])
s.loc['History']=102
s

0            1
1            2
2            3
History    102
dtype: int64

In [35]:
students_classes

{'Alice': 'Physics', 'Jack': 'Chemistry', 'Molly': 'English', 'Sam': 'History'}

In [36]:
kelly_classes=pd.Series(['Pholosophy','Arts','Math'], index=['Kelly','Kelly','Kelly'])
kelly_classes

Kelly    Pholosophy
Kelly          Arts
Kelly          Math
dtype: object

In [40]:
students_classes=pd.Series(students_classes)

In [41]:
students_classes

Alice      Physics
Jack     Chemistry
Molly      English
Sam        History
dtype: object

In [43]:
all_students_classes=students_classes._append(kelly_classes)
all_students_classes

Alice       Physics
Jack      Chemistry
Molly       English
Sam         History
Kelly    Pholosophy
Kelly          Arts
Kelly          Math
dtype: object

In [44]:
students_classes

Alice      Physics
Jack     Chemistry
Molly      English
Sam        History
dtype: object

In [45]:
all_students_classes=pd.concat([students_classes,kelly_classes])
all_students_classes

Alice       Physics
Jack      Chemistry
Molly       English
Sam         History
Kelly    Pholosophy
Kelly          Arts
Kelly          Math
dtype: object

In [46]:
all_students_classes.loc['Kelly']

Kelly    Pholosophy
Kelly          Arts
Kelly          Math
dtype: object

### DataFrame Data Structure

In [47]:
import pandas as pd

In [50]:
record1=pd.Series({'Name':'Alice','Class':'Physics', 'Score':85})
record2=pd.Series({'Name':'Jack','Class':'Chemistry','Score':90})
record3=pd.Series({'Name':'Helen','Class':'Biology','Score':90})

In [51]:
df=pd.DataFrame([record1,record2,record3],
                index=['school1','school2','school3'])

df.head()

          Name      Class  Score
school1  Alice    Physics     85
school2   Jack  Chemistry     90
school3  Helen    Biology     90

In [58]:
students=[{'Name':'Alice','Class':'Physics', 'Score':85},{'Name':'Jack','Class':'Chemistry','Score':90},{'Name':'Helen','Class':'Biology','Score':90}]
df=pd.DataFrame(students,index=['school1','school2','school1'])
df.head()

          Name      Class  Score
school1  Alice    Physics     85
school2   Jack  Chemistry     90
school1  Helen    Biology     90

In [59]:
df.loc['school2']

Name          Jack
Class    Chemistry
Score           90
Name: school2, dtype: object

In [56]:
type(df.loc['school2'])

pandas.core.series.Series

In [60]:
df.loc['school1']

          Name    Class  Score
school1  Alice  Physics     85
school1  Helen  Biology     90

In [61]:
type(df.loc['school1'])

pandas.core.frame.DataFrame

In [62]:
df.loc['school1','Name']

school1    Alice
school1    Helen
Name: Name, dtype: object

In [63]:
df.T

       school1    school2  school1
Name     Alice       Jack    Helen
Class  Physics  Chemistry  Biology
Score       85         90       90

In [64]:
df.T.loc['Name']

school1    Alice
school2     Jack
school1    Helen
Name: Name, dtype: object

In [65]:
df['Name']

school1    Alice
school2     Jack
school1    Helen
Name: Name, dtype: object

In [66]:
type(df['Name'])

pandas.core.series.Series

In [67]:
df.loc['school1']['Name']

school1    Alice
school1    Helen
Name: Name, dtype: object

In [69]:
df.loc[:,['Name','Score']]

          Name  Score
school1  Alice     85
school2   Jack     90
school1  Helen     90

In [70]:
df.drop('school1')

         Name      Class  Score
school2  Jack  Chemistry     90

In [71]:
df

          Name      Class  Score
school1  Alice    Physics     85
school2   Jack  Chemistry     90
school1  Helen    Biology     90

In [72]:
copy_df=df.copy()
copy_df.drop("Name",inplace=True,axis=1)
copy_df

             Class  Score
school1    Physics     85
school2  Chemistry     90
school1    Biology     90

In [73]:
del copy_df['Class']
copy_df

         Score
school1     85
school2     90
school1     90

In [74]:
df['ClassRanking']=None
df

          Name      Class  Score ClassRanking
school1  Alice    Physics     85         None
school2   Jack  Chemistry     90         None
school1  Helen    Biology     90         None

### DataFrame Indexing and Loading